= turbo_frame_tag 'collection' do
  = render ConceptDetailsComponent.new(id:'collection-label', acronym: @ontology.acronym,
                properties: collection.properties,
                top_keys: %w[created modified comment note],
                bottom_keys: [],
                exclude_keys: %w[member]) do |c|
    - c.header(stripped: true) do |t|
      - t.add_row({th: 'ID'}, {td: collection["@id"]})
      - t.add_row({th: 'Preferred Name'}, {td: get_collection_label(collection)})
      - t.add_row({th: 'Members count'}) do |r|
          - r.td do 
            %a{href: "/ontologies/" + @ontology.acronym + "/?p=classes&sub_menu=list&concept_collections=" + collection["@id"]}
                %p= collection["memberCount"]
      - t.add_row({th: 'Type'}, {td: collection["@type"]})

