- collections_labels, selected_collection = get_collections_labels(@collections, params[:collection_id])
- selected_collection_id = selected_collection.nil? ? collections_labels.first["@id"] : selected_collection["@id"]
- if collections_labels.empty?
  %div
    no collections detected
- else
  %div
    %ul.simpleTree{data:{controller: 'simple-tree history', 'simple-tree': { 'auto-click-value': "true" }, action: 'clicked->history#updateURL'}}
      %li.root
        %ul
          - collections_labels.sort_by{|s| [s["prefLabel"]]}.each do  |s|
            %li.doc
              %a{id: s["@id"], href: collection_path(s["@id"]),
                    data: { turbo: "true", 'turbo-frame': 'collection', 'collectionid': s["@id"]},
                    class: selected_collection_id.eql?(s["@id"]) ? "active" : nil }
                = get_collection_label(s)