- collections_labels, selected_collection = get_collections_labels(@collections, params[:collection_id])
- selected_collection_id = selected_collection.nil? ? collections_labels.first["@id"] : selected_collection["@id"]
- if collections_labels.empty?
  %div
    no collections detected
- else
  %div
    %ul.simpleTree{data:{controller: 'simple-tree', 'simple-tree': { 'auto-click-value': "true" }, action: 'clicked->history#updateURL'}}
      %li.root
        %ul
          - sort_collections_label(collections_labels).each do  |c|
            %li.doc
              = raw link_to_collection(c, selected_collection_id)