%span
  %span
    FAIR Scores
  %span.badge.badge-pill.badge-secondary
    beta
%span
  = link_to("https://github.com/agroportal/fairness", target: "_blank", "aria-label": "View fair scores definitions", title: "View fair scores definitions") do
    %i.fas.fa-lg.fa-question-circle{"aria-hidden": "true", style: "margin-left: 0.5rem"}
  = link_to(get_fairness_service_url,id: "fairness-service-url", target: "_blank", "aria-label": "Get the json version", title: "Get the json version") do
    %i.fas.fa-lg.fa-share{"aria-hidden": "true", style: "margin-left: 0.5rem" }