= render SearchInputComponent.new(placeholder: @placeholder,
          name:  @name, scroll_down: @scroll_down,  ajax_url: '/ajax/ontologies?acronym=',
          item_base_url: '/ontologies/', id_key:'acronym',
          actions_links: {search_ontology_content: "/search?query=o",  see_all_ontologies: "/ontologies?search=o"}) do |s|

  - s.template do
    %a{href: "LINK", class: "search-content", 'data-turbo-frame': '_top'}
      %p.search-element.home-searched-ontology
        NAME(ACRONYM)
      %p.home-result-type
        TYPE