- collections_labels,_ = get_collections_labels(@collections)
- selected_collection = @collections.select{|s| params[:concept_collections]&.split(',')&.include?(s['@id'])}
- if selected_collection
  .form-group
    %label{:for => id} Collections
    %div
      = select_tag(:collections,options_for_select(collections_labels.map{|s| [s["prefLabel"], s["@id"], {'data-color': s['color']}]}, selected_collection.map{|x| x["@id"]}),
            { multiple: multiple, id: id, class:"form-control", include_blank: true,
            data:{controller:'chosen', 'chosen-name-value': :collection_id}.merge(data)})