%div#qsearch.input-group
  %div.input-group-prepend
    %span.input-group-text
      %i.fas.fa-search
  = text_field_tag("search_box", nil, class: "form-control rounded-right", placeholder: "Jump to", aria: {label: "Jump to:"},
                data: {controller: 'class-search-auto-complete',
                       'class-search-auto-complete-ontology-acronym-value': @ontology.acronym,
                          'class-search-auto-complete-spinner-src-value': asset_path("jquery.simple.tree/spinner.gif")})
  = hidden_field_tag("jump_to_concept_id")
  - if skos?
    %div.input-group-append
      %button.btn.btn-outline-primary.dropdown-toggle{ "data-toggle": "collapse", href: id}
        %i.fas.fa-sliders-h.mx-1
        Filter