= turbo_frame_tag 'instances' do
  %div.ontologies_list_container.mt-3
    %instances-table.zebra{id: id, style:"width:100%; position:relative" , 'ontology-acronym': @ontology.acronym ,'class-uri': @instances_concept_id}

  :javascript
    $(document).ready(function() {
        const inst = document.querySelector("##{id}")
         const concept_id = "#{@instances_concept_id}"
         //print the instance count append to the tab title
         const updateInstancesCount = (count) => {
            document.querySelector("#instances_count").textContent = count
         }
         if(concept_id){
            updateInstancesCount(0)
            $(inst).on("init.dt" ,  (e, setting, json) => {
                updateInstancesCount(json["table"]["totalCount"])
            })
         }
    })