##################### UI configuration ####################
RAILS_ENV=development
SITE=Testportal
ORG=LIRMM
ORG_URL=http://www.lirmm.fr

UI_URL=http://localhost:3000
API_URL=http://localhost:9393
API_KEY=

UI_THEME=ontoportal

BIOMIXER_URL=
BIOMIXER_APIKEY=

ANNOTATOR_URL=

FAIRNESS_DISABLED=false
FAIRNESS_URL=

NCBO_ANNOTATORPLUS_ENABLED=false
NCBO_ANNOTATOR_URL=
NCBO_API_KEY=

SUPPORT_EMAIL=sifrportal-support@lirmm.fr
RELEASE_VERSION="OntoPortal Appliance 3.0.1"

ANALYTICS_ID=
USE_RECAPTCHA=false
####################  Buidling the API for running tests ####################
## An ontology that will be imported in the starting of the API server
STARTER_ONTOLOGY=STY
## API key of a remote API used to download the starter ontology
OP_API_KEY=8b5b7825-538d-40e0-9e9e-5ab9274a9aeb
## API url of the remote API used to download the starter ontology
OP_API_URL="https://data.bioontology.org"

## Image repositroy from which the ontoportal api will be built
API_IMAGE_REPOSITORY=agroportal
## Image tag/version from which the ontoportal api will be built
API_IMAGE_TAG=development


