*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/flex/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
config/bioportal_config.rb
config/database.yml
config/locales/en.rb
**.DS_Store
/public/**/cache/**

.ruby-version
