*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/flex/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
config/bioportal_config*.rb
config/database.yml
config/deploy/*
config/locales/en.rb
config/secrets.yml
**.DS_Store
/public/**/cache/**
/public/umls/*
/public/assets/
nohup.out

.ruby-version

# Ignore editor files
.idea
*.swp
.rbenv-gemsets

.tags

.tags_sorted_by_file


config/newrelic.yml
.env
Dockerfile
config/site_config.rb
docker-compose.yml
docker-sync.yml
.docker-sync/daemon.log
.docker-sync/daemon.pid