<fieldset style="width:300px;">
<legend>Preview of <%=@concept.name%>, <%=@concept.id%></legend>
<div style="overflow:auto;width:300px"><%=@concept.networkNeighborhood()%></div>
<br>
<ul>
<%@concept.properties.each_pair{|key,value| %>		
	<li><label><%="#{remove_owl_notation(key)}:"%></label><%="#{value}"%></li>	
<% } %>
</ul>

</fieldset>