@import "../lirmm/**/*";

.tabs li.selected {
  background:#31B404;
}
.minimal tbody tr:hover td {
  color: #31B404;
}
.zebra th {
  color: #31B404;
}
.zebra tbody th {
  color: #31B404;
}
.form th {
  color: #31B404;
}
.notetype {
  color: #31B404;
}
.header {
  color: #31B404;
}
.resources th {
  color: #31B404;
}
.resources tbody th {
  color: #31B404;
}
tr.mainresource td {
  color: #31B404;
}
.star_ratings {
  color: #31B404;
}
.pheader {
  color: #31B404;
}
.too_many_children_override {
  color: #31B404 !important;
}
.too_many_children_override:hover {
  color: #31B404 !important;
}
.sf-menu ul {
	width: 25em !important;
}
.sf-menu li {
	background:	#EFFFEF !important;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: #31B404 !important;
}

/************************************
 * NAV
 ************************************/

.nav-tabs .nav-link {
  color: #999 !important
}

.nav-tabs .nav-link.active {
  color: #31B404 !important
}
 
.navbar-brand .site-name {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px !important;
  display: inline;
  line-height: 55px;
}

.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7) !important;
  
  &:hover {
    color: rgba(255, 255, 255, 1.0) !important;
  }
}

.navbar-nav i {
  color: #fff;
}

.btn-bp-login {
  color: #31B404;
  background-color: #fff;
  border-color: #fff !important;

  &:hover {
    color: #31B404;
    background-color: #EFFFEF;
  }
}

.navbar-custom {
  background-color: #31B404;
}

/************************************
 * Tooltips
 ************************************/

a.tooltip_link {
  font-size: 20px;
  float: right;
  cursor: help;
}

a.tooltip_link:hover {
  background-color: #EFFFEF !important;
  border-radius: 999px;
}

a.tooltip_link.extractable-metadatum {
  float: none !important;
}
a.tooltip_link.extractable-metadatum i {
  margin: 0px 5px 0px 0px;
  color: #aaa;
}
a.tooltip_link.extractable-metadatum,
a.tooltip_link.extractable-metadatum * {
  font-size: 16px;
}
.datepicker-btn {
  cursor: pointer;
}

/************************************
 * HOME
************************************/
i.fa.fa-caret-square-o-down {
  vertical-align: middle;
  margin-left: 2px;
}

div.logos {
  text-align: center;
  padding: 15px;
}

div.logos img {
  max-height: 75px;
  margin: 5px;
  opacity: 0.8;
  
  &:hover {
    opacity: 1;
  }
}

div.logos.other-portals img {
  border-radius: 10px;
}

div.logos a {
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  
  div.logos img {
    max-height: 50px !important;
  }
  
}

@media only screen and (max-width: 768px) {
  
  div.logos img {
    max-width: 50px !important;
  }
  
}

/************************************
 * FOOTER
************************************/
footer, .footer {
  background-color: #EFFFEF !important;
  position: relative !important;
}

footer img {
  height: 32px;
}

footer a.logo.connect img {
  margin-right: 10px;
}

.legal-text {
  font-size: 0.9rem;
}
