= turbo_frame_tag 'scheme' do
  - if @scheme && !@scheme.empty?
    = render ConceptDetailsComponent.new(id:'scheme-label', acronym: @ontology.acronym,
                properties: scheme.properties,
                top_keys: %w[description comment],
                bottom_keys: %w[disjoint subclass is_a has_part],
                exclude_keys: []) do |c|
      - c.header(stripped: true) do |t|
        - t.add_row({th: 'ID'} , {td: scheme["@id"]})
        - t.add_row({th: 'Preferred Name'} , {td: display_in_multiple_languages(get_scheme_label(scheme))})
        - t.add_row({th: 'Type'} , {td: scheme["@type"]})


