= turbo_frame_tag 'scheme' do
  = render layout: 'shared/resource_show',
          locals: {top_keys: %w[description comment],
          bottom_keys: %w[disjoint subclass is_a has_part], properties: scheme.properties } do
    %tr
      %td.label
        ID
      %td
        %p
          = scheme["@id"]
    %tr
      %td{nowrap: ""} Preferred Name
      %td
        %p= get_scheme_label(scheme)

