= ontology_object_details_component(frame_id: "scheme", ontology_id:  @ontology.acronym, objects_title:  "schemes", object: @scheme) do
  = render ConceptDetailsComponent.new(id:'scheme-label', acronym: @ontology.acronym, concept_id: @scheme.id,
                      properties: @scheme.properties,
                      top_keys: %w[description comment],
                      bottom_keys: %w[disjoint subclass is_a has_part],
                      exclude_keys: []) do |c|
    - c.header(stripped: true) do |t|
      - t.add_row({th: t('schemes.id')} , {td: link_to_with_actions(@scheme["@id"], acronym: @ontology.acronym)})
      - t.add_row({th: t('schemes.preferred_name')} , {td: display_in_multiple_languages(get_scheme_label(@scheme))})
      - t.add_row({th: t('schemes.type')} , {td: @scheme["@type"]})

