.tabs-container{data: {controller:'tabs-container'}}
  .tab-items.nav-tabs.nav
    - items.each do |item|
      %div{data:  tabs_container_data(item), class: item.active_class}
        = item
        %hr

.tab-content
  - item_contents.each_with_index do |item_content, index|
    %div.tab-pane{id: items[index].target_id, class: items[index].active_class}
      = item_content

