#closeTab{
	font-size:11px;	
	background:none;
	border:0px;
	position:relative;
	color:black;
	top:-10px;
	left:-17px;
	display:run-in;
}
#closeTab_select{
	font-size:12px;
	font-weight:bold;
	background:none;
	border:0px;
	position:relative;
	color:white;
	top:-13px;
	left:-17px;
	display:run-in;
	
}