	<div style="float: right;">
	    <h2>Memcache Stats</h2>
	    <%@cache.stats.each do |server,stats| %>
	    <ul>
	        <li>
	            Server <%=server %>
	            <%stats.each do |stat,value| %>
	            <ul>
	                <li>
	                    <%=stat %>: <%=value %>
	                </li>
	            </ul>
	            <%end %>
	        </li>
	    </ul>
	    <%end %>
	</div>