- @title = "BioPortal Administration"
:javascript
  var ontologiesTable;
  var showAll = 1;

  function toggleShow(val) {
    showAll = val;
  }

  function deleteOntology(acronym) {
    if (confirm("Are you sure you want to delete " + acronym + " ontology and all its artifacts?\nThis action is irreversible!")) {
      doSubmit(acronym, "/admin/ontologies/" + acronym, "DELETE", {});
    }
    return false;
  }

  function doSubmit(acronym, path, method, params) {
    jQuery('.progressSpinner').show();
    jQuery.ajax({
      type: method,
      url: path,
      data: params,
      dataType: "json",
      success: function(data) {
        jQuery('.progressSpinner').hide();
        if (data) {
          //remove row from the table
          var ontologiesTable = jQuery('#adminOntologies').DataTable();
          ontologiesTable.row(jQuery("#tr_" + acronym)).remove().draw();
          jQuery(".success_message").html(data["success"]);
          jQuery(".success_message").show();
        }
      },
      error: function(errorData) {
        jQuery('.progressSpinner').hide();
        jQuery(".error_message").html(errorData["error"]);
        jQuery(".error_message").show();
        console.log("error", errorData);
      }
    });
  }

  jQuery(document).ready(function() {
    ontologiesTable = jQuery("#adminOntologies").dataTable({
      "bAutoWidth": false,
      "bLengthChange": false,
      "bFilter": true,
      "oLanguage": {
        "sSearch": "Filter: "
      },
      "bInfo": true,
      "bPaginate": true,
      "iDisplayLength": 50,
      "bSort": true,
      "asStripClasses": ["","alt"],
      "dom": '<"ontology_nav">frtip',
      "fnDrawCallback": function(oSettings) {



        jQuery('a[rel*=facebox]').facebox();


        // Fix IE whitespace bug in table by removing whitespace
        // See: http://datatables.net/forums/discussion/5481/bug-ghost-columns-when-generating-large-tables
        if (navigator.appName == 'Microsoft Internet Explorer') {
          var expr = new RegExp('>[ \t\r\n\v\f]*<', 'g');
          var tbhtml = jQuery('#adminOntologies').children("tbody").html();
          jQuery('#adminOntologies').children("tbody").html(tbhtml.replace(expr, '><'));
        }
      }
    });

    jQuery("div.ontology_nav").html('<span class="toggle-row-display"><a href="#" onclick="toggleShow(true);">All</a> | <a href="#" onclick="toggleShow(false);">Problem Only</a></span><span class="progressSpinner"><img src="/images/spinners/spinner_000000_16px.gif" style="vertical-align: text-bottom;margin-left:20px;"></span><span class="error_message">Problem performing this action. Please try again.</span><span class="success_message">Action completed successfully.</span>');
    jQuery(".error_message").hide();
    jQuery(".success_message").hide();
    jQuery(".progressSpinner").hide();

    jQuery.fn.dataTableExt.afnFiltering.push(
      function( oSettings, aData, iDataIndex ) {
        var row = oSettings.aoData[iDataIndex].nTr;
        if (!showAll && !row.classList.contains("problem")) {
          return false;
        }
        return true;
      }
    );

    jQuery(".toggle-row-display a").live("click", function() {
      jQuery("#adminOntologies").dataTable().fnDraw();
      return false;
    });

    // Set the table width after it gets altered by jQuery DataTable
    jQuery("#adminOntologies").css("width","100%");




    // Keep header at top of table even when scrolling
    new FixedHeader(ontologiesTable);
  });

#DescriptionDialog{:style => "display: none", :title => "admin description"}
%h1.tab_header Ontology Administration
%p.tab_description
  = render partial: "layouts/ontology_report_table"
