- @title = "BioPortal Administration"
%h1.tab_header Administration Console
%br
%br
%div#progress_message{:class => "alert-box progress_box"}
%div#success_message{:class => "alert-box success"}
%div#error_message{:class => "alert-box error"}
%div#info_message{:class => "alert-box notice"}
%ul.admin_tabs.skin2
  %li
    %a.xl{:href => "#"}
      Site Administration
  %li
    %a.xl{:href => "#"}
      Ontology Administration
%div.admin_panes
  %div
    %br
    %h2 Cache Management
    %br
    %table.memcached_utilities{:style => "float:left;"}
      %tr
        %td{:valign => "top", :style => "white-space:nowrap;"}
          %a#flush_memcache_action{:href => "javascript:;", :class => "link_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"}
            %span.ui-button-text{:style => "width:150px;"} Flush UI Cache
        %td{:valign => "top", :style => "white-space:nowrap;"}
          %a#reset_memcache_connection_action{:href => "javascript:;", :class => "link_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"}
            %span.ui-button-text{:style => "width:150px;"} Reset UI Cache Connection
      %tr
        %td{:valign => "top", :style => "white-space:nowrap;"}
          %a#flush_goo_cache_action{:href => "javascript:;", :class => "link_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"}
            %span.ui-button-text{:style => "width:150px;"} Flush Goo Cache
        %td{:valign => "top", :style => "white-space:nowrap;"}
          %a#flush_http_cache_action{:href => "javascript:;", :class => "link_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"}
            %span.ui-button-text{:style => "width:150px;"} Flush HTTP Cache
    %span#update_check{:style => "display:none;"}
      %p.tab_description{:style => "clear:both; margin-bottom: 30px;"}

      %h2 Version Management
      %br
      %table.memcached_utilities{:style => "float:left;"}
        %tr
          %td{:valign => "top", :style => "white-space:nowrap;"}
            %a#update_check_action{:href => "javascript:;", :class => "link_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"}
              %span.ui-button-text{:style => "width:150px;"} Check for Update
  %div
    %br
    .ontologies_list_container
      %table{:style => "float:left;"}
        %tr
          %td{:style => "white-space:nowrap;"}
            Report generated on:&nbsp;&nbsp;
            %span.report_date_generated
            %a#refresh_report_action{:href => "javascript:;", :class => "link_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style => "margin-left:11px;"}
              %span.ui-button-text{:class => "report_date_generated_button"}
      %p.tab_description{:style => "clear:both;"}
      %table#adminOntologies.zebra{:cellpadding => "0", :cellspacing => "0", :width => "100%"}