- @title = "Parse Log for #{@acronym}"
%h1.tab_header Parse Log for #{@acronym}
%br
%h2{:style => "padding:5px 0 10px 13px;"} Log file: #{@log_file_path}
%pre{:style => "padding:0 13px 20px 13px;"}
  #{@parse_log}
