- if @type == "submit"
    %button-container{onclick: "displayAnimation()"}
        %input.primary-button{:name => @name, :type => "submit", :value => @value, id: "primary-button", oncklick: @onclick}/
- else
    %button-container
        .primary-button{:name => @name, onclick: "displayAnimation()", id: "primary-button", oncklick: @onclick}
            = @value

.animation-container#loading-animation
    .lds-ellipsis
        %div
        %div
        %div
        %div

:javascript
    const button = document.getElementById("primary-button")
    const loading = document.getElementById("loading-animation")
    function displayAnimation(){
        console.log("working")
        button.style.display = 'none';
        loading.style.display = 'flex';
    }