.circular-progress{ data: { controller: 'circle-progress-bar', 'circle-progress-bar': {
   'circle-color-value': 'white', 'percentage-value': value,
   'progress-color-value': "var(--primary-color)", 'bg-color-value': 'white'
}}}
  .inner-circle{'data-circle-progress-bar-target': 'innerCircle'}
  %p.percentage{'data-circle-progress-bar-target': 'percentage'}
    0%
