
@import "annotator";
@import "app";
@import "bootstrap_overrides";
@import "flags32";
@import "jqcloud";
@import "landscape";
@import "ontologies";
@import "recommender";
@import "search";
@import "tooltipster.bundle.min";
@import "plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min";
@import "plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min";
@import "plugins/tooltipster/sideTip/themes/tooltipster-sideTip-noir.min";
@import "plugins/tooltipster/sideTip/themes/tooltipster-sideTip-punk.min";
@import "plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min";


/************************************
 * MISC
 ************************************/

.tabs li.selected {
  background: $color-primary;
}
.tabs li.selected a {
  color: #fff !important;
}

.tabs a.active {
  background-color: $color-primary !important;
  color:#fff !important;
}

.minimal tbody tr:hover td {
  color: $color-primary;
}
.zebra th {
  color: $color-primary;
}
.zebra tbody th {
  color: $color-primary;
}
.form th {
  color: $color-primary;
}
.notetype {
  color: $color-primary;
}
.header {
  color: $color-primary;
}
.resources th {
  color: $color-primary;
}
.resources tbody th {
  color: $color-primary;
}
tr.mainresource td {
  color: $color-primary;
}
.star_ratings {
  color: $color-primary;
}
.pheader {
  color: $color-primary;
}
.too_many_children_override {
  color: $color-primary !important;
}
.too_many_children_override:hover {
  color: $color-primary !important;
}
.sf-menu ul {
	width: 25em !important;
}
.sf-menu li {
	background:	$color-secondary !important;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: $color-links !important;
}
.error {
  text-indent: 25px;
  background-position: 5px 50%;
}
textarea.error {
  text-indent: 0px !important;
  background: none !important;
}

/************************************
 * NAV
 ************************************/

.nav-tabs .nav-link {
  color: #999 !important
}

.nav-tabs .nav-link.active {
}
 
.navbar-brand .site-name {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px !important;
  display: inline;
  line-height: 55px;
}

.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7) !important;
  
  &:hover {
    color: rgba(255, 255, 255, 1.0) !important;
  }
}

.navbar-nav i {
  color: #fff;
}

.btn-bp-login {
  color: $color-primary;
  background-color: #fff;
  border-color: #fff !important;

  &:hover {
    color: $color-primary;
    background-color: $color-secondary;
  }
}

.navbar-custom {
  background-color: $color-primary;
}

/************************************
 * TOOLTIPS
 ************************************/

a.tooltip_link {
  font-size: 20px;
  float: right;
  cursor: help;
}

a.tooltip_link:hover {
  background-color: $color-secondary !important;
  border-radius: 999px;
}

a.tooltip_link.extractable-metadatum {
  float: none !important;
}
a.tooltip_link.extractable-metadatum i {
  margin: 0px 5px 0px 0px;
  color: #aaa;
}
a.tooltip_link.extractable-metadatum,
a.tooltip_link.extractable-metadatum * {
  font-size: 16px;
}
.datepicker-btn {
  cursor: pointer;
}

/************************************
 * HOME PAGE
************************************/
i.fa.fa-caret-square-o-down {
  vertical-align: middle;
  margin-left: 2px;
}

div.logos {
  text-align: center;
  padding: 15px;
}

div.logos img {
  max-height: 75px;
  margin: 5px;
  opacity: 0.8;
  
  &:hover {
    opacity: 1;
  }
}

div.logos.other-portals img {
  border-radius: 10px;
}

div.logos a {
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  
  div.logos img {
    max-height: 50px !important;
  }
  
}

@media only screen and (max-width: 768px) {
  
  div.logos img {
    max-width: 50px !important;
  }
  
}

/************************************
 * ABOUT PAGE
************************************/

.about {
  h2 {
    font-size: 150% !important;
    padding-bottom: .17em;
    border-bottom: 1px solid #AAAAAA;
    font-weight: normal !important;
    width: auto !important;
  }
  
  p {
    text-align: justify;
  }
}

/************************************
 * PROJECTS PAGE
************************************/

.projects {
  #projects-help {
    display: none;
  }
}

