label{
	font-weight:bold;
	margin-right:5px;
}

*{
	font-family:Helvetica, Verdana,sans-serif;
	font-size:13px;
}
img{
	border:0px;
}

a{
color:#3A3C72;

}
a:visited{
	color:#3A3C72;
}
a:hover{
	text-decoration:none;
}

#topNav li{
	margin: 0px 0px 0px 0px;
}
#topNav li .selected{
	margin: 0px 0px 0px 0px;
}
.leftbar{
	float:left;
	border:1px 0px 1px 1px solid #a3a3a3;
	width:200px;
	height:480px;
	overflow:auto;
	background-color:white;
}
.content{
/*	width:80%; */
	overflow:hidden;
}
.quote{
	font-weight:bold;
	font-size:12px;
	font-style:italic;
}
.feedLabel{
	font-weight:bold;
	font-size:12px;
	color:#3A3C72;
}

#ontologyName{
	float:right;
	position:relative;
	left:-45%;
	font-size:20px;
	font-weight:bold;
	color:#3A3C72;
	text-shadow: #a3c5f8 0 1px 1px;
}

h1{
    font-size:18px;
    color:#3A3C72;
    border-bottom:1px dotted gray;
}

.details{
    /*	width:100%; */
    border-bottom:dotted 1px black;
}

.details td{
	font-size:15px;
	padding:5px;
	margin-top:10px;
	text-align:left;
}
.details .label{
	text-align:right;
	padding-left:10px;
	font-weight:bold;
	font-size:16px;
	vertical-align:top;
	width:100px;
}
.mapping{
	width:100%;
	border:1px solid #e3e3e3;
		margin-top:10px;
}
.mapping th{
	background: #2647a0 url(/stylesheets/sprite.png) repeat-x left -1400px;
	color: #fff;
	border-bottom:2px groove;
	padding: 0.25em .75em;
	white-space:nowrap;
	height:20px;
	font-family:sans-serif;
	font-weight:normal;
	font-size:15px;
	text-align:left;
}
.mapping td{
	font-size:15px;
	padding:5px;
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-left:1px solid #e3e3e3;
	margin:10px;
}
.mapping .label{
	border:0px;
	background: #d8d8d8 url(/stylesheets/sprite.png) repeat-x;
	padding-left:10px;
	font-weight:bold;
	font-size:17px;
	border-top:1px solid #535353;
	border-bottom:1px solid #535353;
}
/*
.mapping .human{
	background:#FFFFF9;
}
.mapping .auto{
	background:#DFDEFF;
}
*/
.ontologies{
	border:1px solid #535353;
	margin-top:10px;
	width:80%;
}
.ontologies td{
	padding:5px;
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-left:1px solid #e3e3e3;
}
.ontologies th{
	background: #2647a0 url(/stylesheets/sprite.png) repeat-x left -1400px;
	color: #fff;
	text-align:left;
	padding: 0.25em .75em;
	white-space:nowrap;
	height:20px;
	font-family:sans-serif;
	font-size:15px;
	font-weight:normal;
	border-bottom:1px solid #535353;
	cursor:pointer;
	/*none/hidden/dotted/dashed/solid/double/groove/ridge/inset/outset;;*/
}

.even{

}
.odd{
	background-color: #f2f6f2;
}

th.sorting_asc {
   	background:#3454a7 url('/images/sort_asc.png') no-repeat center right;
   }

   th.sorting_desc {
   	background:#3454a7 url('/images/sort_dsc.png') no-repeat center right;
   }

   th.sorting {
   	background:#3454a7 url('/images/sort_both.png') no-repeat center right;
   }

.subject{
	background: #bfdaff url(/stylesheets/sprite.png) repeat-x left -1300px;
	text-align:left;
	padding: .25em;
	white-space:nowrap;
	height:20px;
	color:black;
	font-size:14px;
	border:1px solid #535353;
	margin-top:5px;
}
.note_body{
	padding:5px;
	border:1px solid #535353;
}


.blueButton{
	background: #d8d8d8 url(/stylesheets/sprite.png) repeat-x;
	border: solid #a3a3a3 1px;
	display:inline-block;
	color: #000;
	white-space:nowrap;
	padding: 0.25em .75em;
	margin:5px;

}
.blueButton a{
	text-decoration:none;
	color:black;
	font-family:sans-serif;
	font-size:15px;
}

/* This is the style sheet for the messages*/
.outgoing a {
	color: #234578;
}
.outgoing a:hover {
	text-shadow: #a3c5f8 0 1px 1px;
}
.outgoing .header > div > div {
	cursor:hand;
	border: 1px solid #83a5d8;
	background: #a3c5f8 url(/images/h_bg.png) 0 -2px repeat-x;
	cursor:pointer;
}
.outgoing .header .sender {
	color: #234578;
	text-shadow: #83a5d8 0 2px 2px;

}
.outgoing .messages > div > div {
	border-top: 1px solid #d8dce1;
	background: #f5f9ff;
	padding:5px;
	font-family:sans-serif;
	font-size:14px;
}
.outgoing .messages .time {
	color: #234578;
	text-shadow: #a3c5f8 0 1px 1px;
}
.outgoing .messages .sep {
	background: #a3c5f8;
	border-bottom: 1px solid #e8ecf2;
}
.outgoing .messages_bottom {
	background: url(/images/m_shadow_bottom.png) repeat-x;
}
.outgoing .messages_bottom .left {
	background: url(/images/m_corner_left.png);
}
.outgoing .messages_bottom .right {
	background: url(/images/m_corner_right.png);
}


.header_top {
	margin-top: 1px;
	height: 2px;
	background: url(/images/h_shadow_top.png) repeat-x;
}

.header {
	position: relative;
	height: 18px;
	background: url(/images/h_shadow_left.png) left repeat-y;
	padding-left: 4px;
}

.header > div {
	background: url(/images/h_shadow_right.png) right repeat-y;
	padding-right: 4px;
}

.header > div > div {
	height: 16px;
	overflow: hidden;
}

.header .left {
	position: absolute;
	left: 0;
	bottom: -4px;
	background: url(/images/h_shadow_corner_left.png);
	width: 4px;
	height: 4px;
}

.header .right {
	position: absolute;
	right: 0;
	bottom: -4px;
	background: url(/images/h_shadow_corner_right.png);
	width: 4px;
	height: 4px;
}

.header .sender {
	height: 16px;
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
	padding: 1px 6px;
	margin: 0;
}

.header img {
	float: right;
	margin: 0px 6px;
}

.messages {
	margin: 0 4px;
	background: url(/images/m_shadow_left.png) left repeat-y;
	padding-left: 4px;
}

.messages > div {
	background: url(/images/m_shadow_right.png) right repeat-y;
	padding-right: 4px;
}

.messages > div > div {
}


.messages .time {
	float: left;
	margin: 0 4px;
	padding: 0;
	overflow: hidden;
	display: block;
}

.messages .sep {
	margin: 2px 4px 0;
	height: 1px;
}

.messages .message {
	margin: 0 4px;
	padding: 0;
	overflow: hidden;
	display: block;
}

.messages .message .img {
	height: 12px;
}

.messages_bottom {
	position: relative;
	margin: 0 12px;
	height: 6px;
}

.messages_bottom .left {
	position: absolute;
	left: -8px;
	width: 8px;
	height: 8px;
}

.messages_bottom .right {
	position: absolute;
	right: -8px;
	width: 8px;
	height: 8px;
}

#insert{
	text-align:right;

	font-size:13px;
}

.leftHome{
	float:left;
}
.feeds{
	margin-top:10px;
	border:1px solid #2647a0;
	width:350px;

}
.feeds .header{
	background: #2647a0 url(/stylesheets/sprite.png) repeat-x left -1400px;
	color:white;
	padding:5px;
	font-family:sans-serif;
	font-size:15px;
}

.myontologies{
	margin:10px;
	float:left;
	width:500px;
	height:500px;
	border:1px solid #2647a0;
		overflow:auto;
}
.myontologies .header{
	background: #2647a0 url(/stylesheets/sprite.png) repeat-x left -1400px;
	color:white;
	padding:5px;
	font-family:sans-serif;
	font-size:15px;
}
.stats{
	margin-top:10px;
	width:350px;

	border:solid 1px #2647a0;
	font-family:sans-serif;
	font-size:13px;

}

.stats .header{
	background: #2647a0 url(/stylesheets/sprite.png) repeat-x left -1400px;
	color:white;
	padding:5px;
	font-family:sans-serif;
	font-size:15px;
}

h3{
	font-family:sans-serif;
	font-weight:bold;
	font-size:15px;
	color:#3A3C72;
	border-bottom:groove #3A3C72;
	padding:5px;
}
h4{
	font-family:sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#3A3C72;
	padding:5px;
}

.feeds ul{
	margin:0px;
	padding:0px;
}
.feeds li{
	list-style:none;
	font-family:sans-serif;
	font-size:13px;
	padding:5px;
	border-bottom:solid 1px #F0F0F0;
	margin-left:0px;
	width:340px;
}

.feeds li:hover{
	display:block;
	background-color:#F9F9F9;
}

.myontologies ul{
	margin:0px;
	padding:0px;
}
.myontologies li{
	list-style:none;
	font-family:sans-serif;
	font-size:13px;
	padding:5px;
	border-bottom:solid 1px #F0F0F0;
	margin-left:0px;
}
.myontologies li:hover{
	display:block;
	background-color:#F9F9F9;
}
.stats ul{
	margin:0px;
	padding:0px;
}
.stats li{
	list-style:none;
	font-family:sans-serif;
	font-size:13px;
	padding:5px;
	border-bottom:solid 1px #F0F0F0;
	margin-left:0px;
}
.stats li:hover{
	display:block;
	background-color:#F9F9F9;
}


#feed{
	float:right;
	vertical-align:top;
	font-weight:bold;
	cursor:pointer;

}
.box{

	border:solid 1px #2647a0;
	font-family:sans-serif;
	font-size:13px;
}
.box .header{
	background: #2647a0 url(/stylesheets/sprite.png) repeat-x left -1400px;
	color:white;
	padding:5px;
	font-family:sans-serif;
	font-size:15px;
}
#searchBox{
	margin-top:10px;
	width:98%;
	overflow:hidden;
}

#dragSpot {
	float:left;
	width: 5px;
	height: 480px;
	border: 2px ridge #e1e1e1;
	background-color: #fafafa;
	background-image:url(/images/default/layout/mini-left.gif);
	background-repeat:no-repeat;
	background-position:center;
	margin-right:2px;
}


h4{
	font-size:16px;
	color:#3A3C72;
	border-bottom:1px dotted gray;
	margin-top:3px;
	margin-bottom:5px;
}

.resources{
	width:100%;
	border-left:1px solid #c0c0c0;
	border-right:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
}
.mainresource{


}
.resources .mainresource td{
	border-top:solid #c0c0c0 1px;
	border-left:0px;
	border-right:0px;
	color:black;
	cursor:pointer;
	padding:5px;
	padding-top:10px;
	background:#e8f2ff url(/stylesheets/resourceheader.png) repeat-x;
}

.annotations{
	width:100%;
	border-top:solid #c0c0c0 1px;
}
.annotations th{
	text-align:left;
}
.annotations td{
	border-top:solid #c0c0c0 1px;
}

.versions{
	width:800px;
	margin-bottom:100px;
	margin-left:10px;
}
.versions th{
	background: #2647a0 url(/stylesheets/sprite.png) repeat-x left -1400px;
	color: #fff;
	text-align:left;
	padding: 0.25em .75em;
	white-space:nowrap;
	height:20px;
	font-family:sans-serif;
	font-size:15px;
	font-weight:normal;
	border-bottom:1px solid #535353;
}

.versions td{
	padding:5px;
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-left:1px solid #e3e3e3;
}

.metadata{
	border:1px solid gray;
}

.metadata td li{
    padding:10px;
	width:400px;
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-left:1px solid #e3e3e3;
	list-style:none;
}
.metadata td li label{

	font-size:13px;
	font-weight:bold;
	margin-right:10px;
}

.metadata th.header {
    background: #2647a0 url(/stylesheets/sprite.png) repeat-x left -1400px;
	color: #fff;
	border-bottom:2px groove;
	padding: 0.25em .75em;
	white-space:nowrap;
	height:20px;
	font-family:sans-serif;
	font-weight:normal;
	font-size:15px;
	text-align:left;
}

#name_label{
	padding-left:10px;
}




.topnav a.close, .topnav a.close:hover{

	display:block;

	position:absolute;
	top:0px;
	right:0px;

	width:12px;
	height:12px;
	background-image:url("/images/arrows.gif");
}
.topnav a.close{
	background-position:-60px 0px;
}
.topnav a.close:hover{
	background-position:-60px -12px;
}

ul.topnav{
float:left;
vertical-align:baseline;
border-bottom:2px solid #2647a0;
width:100%;
margin:0px;
padding:0px;
}
.topnav li{
	vertical-align:baseline;
	margin:0px -1px -2px 0px;
	position:relative;
	float:left;
	display:block;
	padding:3px 14px 3px 9px;
	background: #d8d8d8 url(/stylesheets/sprite.png) repeat-x;
	border: solid #a3a3a3;
	border-width: 1px 1px;
	color: #000;
	text-decoration: none;
}

.topnav li.selected{
	background: #2647a0 url(/stylesheets/sprite.png) repeat-x left -1400px;
	color:white;
	font-family:sans-serif;
	font-size:15px;
	border-color: #243356;

}

.topnav li.selected a{
	text-decoration:none;
	color:white;
}

.topnav li a{
	text-decoration:none;
	color:black;
}

.reviews{
	width:800px;
	margin-bottom:10px;
	margin-left:10px;
}
.reviews th{
	background: #2647a0 url(/stylesheets/sprite.png) repeat-x left -1400px;
	color: #fff;
	text-align:left;
	padding: 0.25em .75em;
	white-space:nowrap;
	height:20px;
	font-family:sans-serif;
	font-size:15px;
	font-weight:normal;
	border-bottom:1px solid #535353;
}

.reviews th a {
    color:white;
    font-size:15px;
    font-weight:bold;
}
.reviews td{
	padding:5px;
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-left:1px solid #e3e3e3;
}





.rateStatus{float:left; clear:both; width:100%; height:20px;}
.rateMe{padding:0px; margin:0px;}
.rateMe li{float:left;list-style:none;}
.rateMe li a:hover,
.rateMe .on{background:url(/images/star_on.gif) no-repeat;}
.rateMe a{float:left;background:url(/images/star_off.gif) no-repeat;width:12px; height:12px;}
.ratingSaved{display:none;}
.saved{color:red; }


.tree_metadata a{
    font-size:14px;
    margin:5px;

    font-weight:bold;
}



.fieldWithErrors {
  padding: 1px;
  background-color: #FFBBBB;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 1px solid #FFBBBB;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.reviewheader{
    width:100%;
    padding:5px;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    background-color:#EFEFEF;
}
.reviewheader a{
    font-size:15px;
}



.maps{
	width:800px;
	margin:10px;

}
.maps th{
	background: #2647a0 url(/stylesheets/sprite.png) repeat-x left -1400px;
	color: #fff;
	text-align:left;
	padding: 0.25em .75em;
	white-space:nowrap;
	height:20px;
	font-family:sans-serif;
	font-size:15px;
	font-weight:normal;
	border-bottom:1px solid #535353;
}

.maps td{
	padding:5px;
	border-bottom:1px solid white;
	border-top:1px solid #C0C0C0;
	background-color:#EFEFEF;
}

.counts{
	width:800px;
	margin:10px;

}
.counts th{
	background: #2647a0 url(/stylesheets/sprite.png) repeat-x left -1400px;
	color: #fff;
	text-align:left;
	padding: 0.25em .75em;
	white-space:nowrap;
	height:20px;
	font-family:sans-serif;
	font-size:15px;
	font-weight:normal;
	border-bottom:1px solid #535353;
	border-right:1px solid #e3e3e3;
	text-align:center;
}

.counts td{

	border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
}
.counts td a{
    padding:10px;
    display:block;
}
.counts td a:hover{
    background-color:#DDFFDD;
}
.counts .last{
    border-left:0px;
}



.map_source a{
    padding:10px;
    display:block;
}

.map_source a:hover{
        background-color:#DDFFDD;
}
.map_target{
    margin-bottom:1px;
    text-align:left;
}
.map_target a{
    padding:10px;
    display:block;
}
.map_target a:hover{
    background-color:#DDFFDD;
}

.mapped_by{
    border-top:1px dotted #ababab;
    display:block;
    padding-left:10px;
    text-align:left;
    font-weight:bold;
}

.pagination a , .pagination .disabled, .pagination .current{
	padding:2px 4px 2px 4px;
	border:1px solid silver;
	background-color: #EFEFEF;
	text-decoration:none;
	color:black;

}

.pagination .disabled{
	color:#AAAAAA;
}
.pagination .current{
	color:white;
	background-color:#999999;
}
.pagination a:hover{
	background-color: #FFFFFF
}

.blue-highlight{
	border:1px #AFAFAF dashed;
	background-color:#f5fafa;
	padding:5px;
}

/* Used for tag clouds on ontology summary page */
.bp_tagCloud { margin-top: 1em; font-size: 70%; }
.bp_tagList { margin: 0; padding: 0; }
.bp_tagList li { list-style-type: none; float: left; margin: 0 10px;  }
.bp_tagList li a { text-decoration: none; }
.bp_tagList list:hover { text-decoration: underline; }


