%div
    .button-container
        = button_elem
        
    - if load_animation?
        = render Display::ButtonLoaderComponent.new(id: @id + '-loading-animation', slim: @size.eql?('slim'), color: @color)
        :javascript
            function displayAnimation(element){
                element.style.display = 'none';
                element.parentElement.parentElement.children[1].style.display = 'flex';
            }