%div
  - if label?
    .text-input-label
      = @label

  - if content
    = content
  - else
    %input.input-field-component.text-input{class: @disabled ? '' : 'not-disabled', name: @name, type: @type, placeholder: @placeholder, style: error_style, id: @id, data: @data, value: @value, disabled: @disabled}



  - if error?
    .text-input-error-text
      = @error_message
  - if help?
    .text-input-helper-text
      = @helper_text










