%div
  - if label?
    .text-input-label
      = @label

  - if content
    = content
  - else
    %input.input-field-component.text-input{name: @name, type: @type, placeholder: @placeholder, style: error_style, value: @value}



  - if error?
    .text-input-error-text
      = @error_message
  - if help?
    .text-input-helper-text
      = @helper_text










