$color-primary: #000033;
$color-secondary: #EFEFFF ;
$color-links: #6633CC;
$color-warning: #81ab85;
$button_background_color:linear-gradient(90deg, rgba(0,0,51,1) 0%, rgba(102,51,204,1) 35%, rgba(0,204,204,1) 100%);
@import "../lirmm/**/*";
