=javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"
=javascript_include_tag "d3pie.min"
=javascript_include_tag "d3.layout.cloud"

%div
  %h1 Landscape

  %div#pieChart

  %div#cloudChart

:javascript

  // Get the data to generate the pie chart for naturalLanguages
  var pieJson = #{@natural_language_json_pie}
  // Get the data to generate the cloud chart for naturalLanguages
  var cloudJson = #{@natural_language_json_cloud}

/ This javascript needs to be called after pieJson and cloudJson have been set
=javascript_include_tag "bp_landscape"
