%canvas#ont-fair-criteria-scores-canvas{style:"display: block; box-sizing: border-box" ,
    data: {labels: (data.nil? ? "[]" : data[:criteria][:labels]), scores: (data.nil? ? "[]" :data[:criteria][:normalizedScores])}}