<%custom_ontologies ||= nil%>
<%selected_ontologies ||= []%>
<%init_ontology_picker(custom_ontologies, selected_ontologies)%>

<% sel_text ||= "Select Ontologies"%>

<script type="text/javascript">
jQuery(window).ready(function(){
  jQuery("#ontology_ontologyId").chosen();

  // Unbind the click handler from the ontology list
  jQuery("#ontology_ontologyId_chzn").bind("focus", hideChosenResults);
  jQuery("#ontology_ontologyId_chzn").bind("keydown", showChosenResults);
});

var showChosenResults = function(){
  if (!jQuery("#ontology_ontologyId_chzn_o_0").closest("div.chzn-drop").is(":visible")) {
    jQuery("#ontology_ontologyId_chzn_o_0").closest("div.chzn-drop").show();
  }
}

var hideChosenResults = function(){
  if (jQuery("#ontology_ontologyId_chzn_o_0").closest("div.chzn-drop").is(":visible")) {
    jQuery("#ontology_ontologyId_chzn_o_0").closest("div.chzn-drop").hide();
  }
}

</script>


<div id="ontology_picker_container" style="margin-bottom: 1em; width: 432px;">
  <h2 id="ontology_picker_head" style="margin-bottom: 3px;"><%=sel_text%></h2>

  <div id="ontology_ontologyId_container">
    <%= select :ontology, "ontologyId", options_for_select(@onts_for_select, selected_ontologies), { }, :multiple => 'true', "data-placeholder".to_sym => "Type here to select ontologies or leave blank to use all", :style => "width: 432px;" %>
  </div>

  <div style="float: right; font-size: smaller;">
    <a id="ont_select_clear" href="javascript:void(0)">clear selection</a>
    &nbsp;&nbsp;&nbsp;
    <a id="ont_select_adv_href" href="javascript:void(0)">select from list</a>
  </div>

  <%=render_advanced_picker(custom_ontologies, selected_ontologies)%>
</div>

