<%custom_ontologies ||= nil%>
<%selected ||= ""%>
<%selected = selected.split("/").last if selected.start_with?("http")%>
<%init_ontology_picker(custom_ontologies, [selected])%>
<%placeholder ||= "Select an Ontology"%>
<%picker_id ||= "ontology_picker_single"%>
<%selected ||= nil%>
<%field_name ||= "ontologyId"%>
<%object_name ||= :ontology%>
<%disabled ||= nil%>

<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery("#<%= picker_id %>").chosen({ search_contains: true });

    jQuery("#ontology_isView").change(function() {
      if (this.checked) {
        jQuery("#ontology_viewOf").prop("disabled", false).trigger("chosen:updated");
      } else {
        jQuery("#ontology_viewOf").val('').trigger("chosen:updated");
        jQuery("#ontology_viewOf").prop("disabled", true).trigger("chosen:updated");
      }
    });
  });
</script>

<div id="<%=picker_id%>_container" class="ontology_picker_single_container">
  <%= select object_name, field_name, @onts_for_select, { :include_blank => true, :selected => selected }, :id => picker_id, :class => "ontology_picker_single form-control", "data-placeholder".to_sym => placeholder, disabled: disabled %>
</div>

