%h2{style: "margin-top: -1em; font-size: 32px; color: #234979;"} Help Us Make BioPortal Better
%p{style: "font-size: larger;"}
  We are collecting information on how our community uses BioPortal.
  To help us improve BioPortal, please answer the following question.
%form
  %p
    %h2{style: "margin-bottom: 0;"} What are you trying to accomplish with BioPortal during this visit?
    %textarea{id: "intention_response", style: "width: 600px; height: 225px; padding: 3px;"}
  %p
    Enter your email address if you would like to be entered into a drawing for one of four gift certificates for $25
    %br
    %input{id: "intention_email", type: "textfield", style: "width: 250px; padding: 3px;", placeholder: "email@example.org"}
  %p
    %input{id: "intention_submit", type: "button", value: "Submit"}
  %p
    %input{type: "checkbox", name: "dont_show_again", id: "dont_show_again", disabled: true}
    %label{for: "dont_show_again"} Don't show me this dialog again

