%h2{style: "margin-top: -1em; font-size: 32px; color: #234979;"} Help Us Make BioPortal Better
%p{style: "font-size: larger;"}
  We are collecting information on how our community uses BioPortal.
  To help us improve BioPortal, please answer the following question.
%form
  %p
    %h2{style: "margin-bottom: 0;"} What are you trying to accomplish with BioPortal during this visit?
    %textarea{id: "intention_response", style: "width: 600px; height: 225px; padding: 3px;"}
  %p
    %input{type: "checkbox", name: "dont_show_again", id: "dont_show_again"}
    %label{for: "dont_show_again"} Don't show me this dialog again
  %p
    %input{id: "intention_submit", type: "button", value: "Submit"}
    %input{id: "intention_close", type: "button", value: "Close"}

