<%@title = "Resource Index"%>

<p style="padding:10px;margin:10px; border:1px solid #EFEFEF;" >
  <%=t('home.resources.intro')%>
</p>

<div style="height:800px;text-align:center;">
  <iframe src="http://keg.cs.uvic.ca/seanf/BioportalTest/#page:resources" width="100%" height="100%" frameborder="0">
    <p>Please upgrade your browser to support the Resource Index</p>
  </iframe>
</div>
