= render CardMessageComponent.new(title: "Feedback sent successfully",message: "Thank you for taking the time to share your feedback with us. Our support team will review your message and get back to you as soon as possible with a response. We value your opinion and appreciate your help in improving our services. Thank you for your support!", type:"success")
:javascript
  setTimeout(function(){window.close()}, 10000);
