<%@title = "Help for Protégé 4 & OWL2 Ontologies"%>

<div style="background: url(/images/layout/header_bg.png) repeat-x;; width: 100%;"><center><img src="/images/layout/nav_logo.png"></center></div>

<div  style="padding: 2em; height: 400px;" class="enable-lists">
  <p>
    The submission process for ontologies developed in Protégé 4 or using OWL2 currently requires a manual-processing step. In order to submit your ontology, please do the following:
    <ul>
      <li>Enter metadata for your ontology using the “Submit New Ontology” form and select the option "Metadata Only"</li>
      <li>Email <a href='mailto:<%=$SUPPORT_EMAIL%>'><%=$ORG%> support</a> with your ontology file or a URL to download your ontology</li>
    </ul>
    <br/>
    If you have any questions please email us at <a href='mailto:<%=$SUPPORT_EMAIL%>'><%=$ORG%> support</a>.
  </p>
</div>
