<%@title = "Help for Protégé 4 & OWL2 Ontologies"%>

<div style="background: url(/images/layout/header_bg.png) repeat-x;; width: 100%;"><center><img src="/images/layout/nav_logo.png"></center></div>

<div  style="padding: 2em; height: 400px;" class="enable-lists">
  <p>
    The submission process for ontologies created in Protégé 4 or using OWL2 is currently partially manual. In order to submit your ontology, please do the following:
    <ul>
      <li>Please submit your ontology using the form and select the "Metadata Only" option</li>
      <li>Email us at <a href='mailto:<%=$SUPPORT_EMAIL%>'><%=$SUPPORT_EMAIL%></a> with your ontology file or a URL where it can be downloaded</li>
      <li>We will then manually process the file and upload it so that it will be visible to users</li>
    </ul>
    <br/>
    If you have any questions please email us at <a href='mailto:<%=$SUPPORT_EMAIL%>'><%=$SUPPORT_EMAIL%></a>.
  </p>
</div>
