<div style="margin:20px;">
    <span style="font-size:15px;font-weight:bold;color:green;"><%=flash[:notice] %></span>
    <div style="float:left;width:60%;">
        <h1>Welcome</h1>
        <p>
            Welcome to the National Center for Biomedical Ontology’s BioPortal. BioPortal is a Web-based application for accessing and sharing biomedical ontologies.
        </p>
        <h1>Getting Started</h1>
        <p>
            BioPortal allows users to browse, upload, download, search, comment on, and create mappings for ontologies.
        </p>
        <h1>Browse The Library</h1>
        <p>
            Users can browse and explore individual ontologies by navigating either a tree structure or an animated graphical view. Users can also view mappings and ontology metadata, and download ontologies. 
        </p>
        <p>
            Additionally, users who are signed in may also submit a new ontology to the library. All submissions to the library are reviewed.
        </p>
        <h1>Web services</h1>
        <p>
            Documentation and examples of the <a href="http://www.bioontology.org/wiki/index.php/NCBO_REST_services">BioPortal 2.0 Web services.</a>
        </p>
        <h1>Announce List</h1>
        <p>
            To receive notices of new BioPortal releases or site outages, please subscribe 
            to the <a href="https://mailman.stanford.edu/mailman/listinfo/bioportal-announce">bioportal-announce list</a>.
        </p>
        <h1>Feature and Bug Trackers</h1>
		<p>
			NCBO maintains a feature/bug tracker and we welcome user submissions:<br/>
			<%= link_to 'Feature Requests', "https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemBrowse&tracker_id=213" %><br/>
			<%= link_to 'Bug Reports', "https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemBrowse&tracker_id=103" %><br/>
		</p>
        <h1>Release Notes: BioPortal 2.3.3 (April 7, 2010)</h1>
        <div class="enable-lists">
		<br>
        <h2>BioPortal Core (tag 1025)</h2>
        <h3>New Features</h3>
        <ul>
            <li>
                Implemented the multi-wildcard phrase search functionality.
            </li>
            <li>
                Removed unused relations from UMLS term output.
            </li>
            <li>
                Added the ability to pass a URL-encoded search queries via a query parameter. (see tracker item [#1348] Unable to search with term BN/NHsdMcwi - Rat Strain ontology: https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=1348).
                <br/>
            </li>
            <li>
                Removed &lt;instances/&gt; tags from Term services.
                <br/>
            </li>
            <li>
                Added a new relation to ClassBean: InstanceCount that displays the number of instances for a given term.
                <br/>
            </li>
            <li>
                Added new properties to the output of parent, children, and siblings services:
                <br/>
                <ul>
                    <li>
                        fullId
                        <br/>
                    </li>
                    <li>
                        label
                        <br/>
                    </li>
                    <li>
                        synonyms
                        <br/>
                    </li>
                    <li>
                        definitions
                        <br/>
                    </li>
                </ul>
            </li>
            <li>
                Moved instance service to a new signature (see tracker item [#1937] Move instance service to a new signature: https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=1937)
                <br/>
            </li>
            <li>
                Signature: /bioportal/instance/&lt;ontologyVersionId&gt;/?instanceid=&lt;instance id&gt;
                <br/>
            </li>
            <li>
                Added the ability to display all instances for a given concept:
                <br/>
                <ul>
                    <li>
                        Signature: /bioportal/concepts/instances/&lt;ontologyVersionId&gt;/?conceptid=&lt;concept id&gt;
                        <br/>
                    </li>
                </ul>
            </li>
            <li>
                Added a default limit of 10000 concepts to be processed by the view extractor. Changes default number of concepts to 1000, up from 100.
            </li>
        </ul>
        <h3>Bug Fixes</h3>
        <ul>
            <li>
                [#1947] Not all the data is imported for SVN pull: https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=1947
                <br/>
            </li>
            <li>
                [#1904] Instance service returns the wrong structure for instanceType: https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=1904 
            </li>
        </ul>
		<br><br>
        <h2>BioPortal UI (tag 1037)</h2>
        <h3>New Features</h3>
        <ul>
            <li>
                jQuery tag cloud plugin (used on the ontology summary page) has been replaced by a custom implementation that uses an algorithm based on the relative size of entries in the list. Therefore the tag cloud shows differentiation even when there are only minor differences between the sizes of the entries.
                <br/>
            </li>
            <li>
                A new message is displayed where the &quot;Explore&quot; link appears for when ontologies is first submitted: Waiting to Parse.
            </li>
        </ul>
        <h3>Bug Fixes</h3>
        <ul>
            <li>
                Usernames that contain a space can now be used to login via the UI.
                <br/>
            </li>
            <li>
                Sometimes extra, empty views were parsed from the response XML. A safety check has been added to detect these empty arrays and not process them.
                <br/>
            </li>
            <li>
                If the BioPortal core returned a 404 for a particular call, indicating that a term couldn't be found, for example, then the UI would respond to the user with a 500 error. Now, a proper 404 is returned instead.
                <br/>
            </li>
            <li>
                Empty relations were sometimes parsed from the REST service. There is now a check to make sure these entries are valid before processing them in the view.
                <br/>
                Deprecated ontologies are now handled properly when browsing to a term directly (previously these were only handled when visualizing an ontology without a specific term).
            </li>
        </ul>
        <h3>Updates</h3>
        <ul>
            <li>
                jQuery updated to 1.4.2
                <br/>
            </li>
            <li>
                jQuery rating pack updated to 3.13
                <br/>
            </li>
            <li>
                jQuery blockUI updated to 2.33
                <br/>
            </li>
        </ul>
		<br><br>
        <h2>BioPortal Admin (tag 1005)</h2>
        <h3>Bug Fixes</h3>
        <ul>
            <li>
                Fixed a bug in Ontology Deprecator tool that, under certain conditions deprecated ontologies that should have been kept active
            </li>
        </ul>
        </div>
   </div>
    <div style="clear:both;">
    </div>
</div>
