<div style="margin:20px;">
    <span style="font-size:15px;font-weight:bold;color:green;"><%=flash[:notice] %></span>
    <div style="float:left;width:60%;">
        <h1>Welcome</h1>
        <p>
            Welcome to the National Center for Biomedical Ontology’s BioPortal. BioPortal is a Web-based application for accessing and sharing biomedical ontologies.
        </p>
        <h2>New features in BioPortal 2.2.2 (released December 14th, 2009):</h2>
        <div class="enable-lists">
            <ul>
                <li>
                    Metrics are now displayed on the Ontology Summary page when available
                </li>
                <li>
                    Added fields for supplying Author and Definition Slot names on the ontology metadata form
                </li>
                <li>
                    Schema dump for rake db:migrate has been updated
                </li>
                <li>
                    Synonyms and Definitions are now shown when provided by the concept service
                </li>
                <li>
                    Additional space has been added between items in lists that are displayed in the details tab. This makes concepts with properties that include several paragraphs of text more readable.
                </li>
                <li>
                    Improvements were made to the functionality that handles non-browsable concepts, including handling of the new concept bean 'type' property and inclusion in the path-to-root processing, and moving the Rails template for non-browsable concepts to a shared partial.
                </li>
                <li>
                    Fixed bug where LEXGRID-XML formats were not adding properly in the ontology add/edit form
                </li>
                <li>
                    New Memcache admin utilities that allow flushing and resetting Memcache connection without the need to restart the front end server
                </li>
            </ul>
            <br/>
        </div>
        <h1>Getting Started</h1>
        <p>
            BioPortal allows users to browse, upload, download, search, comment on, and create mappings for ontologies.
        </p>
        <h1>Browse The Library</h1>
        <p>
            Users can browse and explore individual ontologies by navigating either a tree structure or an animated graphical view. Users can also view mappings and ontology metadata, and download ontologies. 
        </p>
        <p>
            Additionally, users who are signed in may also submit a new ontology to the library. All submissions to the library are reviewed.
        </p>
        <h1>Web services</h1>
        <p>
            Documentation and examples of the <a href="http://www.bioontology.org/wiki/index.php/NCBO_REST_services">BioPortal 2.0 Web services.</a>
        </p>
        <h1>Announce List</h1>
        <p>
            To receive notices of new BioPortal releases or site outages, please subscribe 
            to the <a href="https://mailman.stanford.edu/mailman/listinfo/bioportal-announce">bioportal-announce list</a>.
        </p>
    </div>
    <div style="clear:both;">
    </div>
</div>
