<div style="margin:20px;">
<span style="font-size:15px;font-weight:bold;color:green;"><%=flash[:notice]%></span>


<div style="float:left;width:60%;">
<h1>Welcome</h1>
<p>Welcome to the National Center for Biomedical Ontology’s BioPortal. BioPortal is a Web-based application for accessing and sharing biomedical ontologies.</p>

<h2>New features in BioPortal 2.0.4 (released January 13th, 2009):</h2>	
	<ul>
		
		<li>New and improved ontology search functionality including “Search All” ontologies</li>
		<li>RSS feed for notification of new notes and mappings added to ontology terms, submission of new ontology versions and new ontologies</li>
		<li>Filtering of the ontology list by group, e.g. OBO Foundry candidate ontologies or ontologies in caBIG. Note that you can link directly to a view of BioPortal with a particular filter enabled. For example, to see a view of BioPortal that displays only OBO Foundry candidate ontologies, go to <a href="http://bioportal.bioontology.org/?filter=OBOFoundry">http://bioportal.bioontology.org/?filter=OBOFoundry</a></li>
	</ul>



<p>Features in BioPortal 2.0 include:
	<ul>
		<li>Full ontology navigation using <b>Flash visualization</b></li>
		<li><b>Web-service access</b> to BioPortal content and capabilities, which enables developers to use our BioPortal services in their tools.</li>
		<li>Ability to add <b>Marginal Notes</b> to classes in BioPortal ontologies, a feature that enables the community to comment on ontologies and to discuss their contents</li>
		<li>Ability to create <b>Point to Point Mappings</b> between concepts in different BioPortal ontologies</li>
		<li><b>Bulk export of ontology-to-ontology mappings</b> in RDF format</li>
		<li><b>Navigation of multiple ontologies</b>, which enables users to have several ontologies opened simultaneously in different tabs in the user interface</li>
		<li><b>BioPortal URIs for all ontology content</b>, which enable developers to access and share BioPortal content from their applications</li>
		<li><b>Improved support through Protégé</b> for ontologies in OWL format</li>
	</ul>

<h1>Getting Started</h1>
<p>BioPortal allows users to browse, upload, download, search, comment on, and create mappings for ontologies.<a href="http://www.bioontology.org/videos/demos/BioPortal_2.0_Demo.html">Watch the demo here.</a></p>
<h1>Browse The Library</h1>
<p>Users can browse and explore individual ontologies by navigating either a tree structure or an animated graphical view. Users can also view mappings and ontology metadata, and download ontologies. </p>

<p>Additionally, users who are signed in may also submit a new ontology to the library. All submissions to the library are reviewed.</p>
<h1>Web services</h1>
<p>Documentation and examples of the <a href="http://www.bioontology.org/wiki/index.php/NCBO_REST_services">BioPortal 2.0 web services.</a></p>



<h1>Announce List</h1>
<p>To receive notices of new BioPortal releases or site outages, please subscribe
to the <a href="https://mailman.stanford.edu/mailman/listinfo/bioportal-announce">bioportal-annouce list</a>.



</div>
<div style="clear:both;"></div>
</div>