<br/><br/>
<p>Welcome to the National Center for Biomedical Ontology’s BioPortal. BioPortal is a Web-based application for accessing and sharing biomedical ontologies.</p>
<p>New features in BioPortal 2.0 include:
	<ul>
		<li>Full ontology navigation using <b>Flash visualization</b></li>
		<li><b>Web-service access</b> to BioPortal content and capabilities, which enables developers to use our BioPortal services in their tools.</li>
		<li>Ability to add <b>Marginal Notes</b> to classes in BioPortal ontologies, a feature that enables the community to comment on ontologies and to discuss their contents</li>
		<li>Ability to create <b>Point to Point Mappings</b> between concepts in different BioPortal ontologies</li>
		<li><b>Bulk export of ontology-to-ontology mappings</b> in RDF format</li>
		<li><b>Navigation of multiple ontologies</b>, which enables users to have several ontologies opened simultaneously in different tabs in the user interface</li>
		<li><b>BioPortal URIs for all ontology content</b>, which enable developers to access and share BioPortal content from their applications</li>
		<li><b>Improved support through Protégé</b> for ontologies in OWL format</li>
	</ul>