%h2{:style => "font-size: 150%;"} Available Resources
%table.zebra
  %thead
    %tr
      %th Resource
      %th{:style => "text-align: right;"} Total Records
      %th Description
  %tbody
    -@resources_for_info.each do |resource|
      %tr
        %td{:style => "width: 20%;"}
          %a{:href => resource[:resourceURL], :target => "_blank", :id => "resource_link_#{resource[:resourceId]}"} #{@resources_hash[resource[:resourceId].downcase.to_sym][:resourceName]}
        %td{:style => "text-align: right;"}= number_with_delimiter(resource[:totalElements], ",")
        %td= truncate_with_more(resource[:resourceDescription], :length => 120)
