- if @type == "static"
  %span.chip_button_container{@html_options}
    = @text || content
- elsif !content
  %a.chip_button_container_clickable{@html_options}
    = @text
- else
  %span.chip_button_container_clickable{@html_options}
    = content
