- @title = "Edit ontology submission"

%div.container
  %h2.text-center
    Edit submission information
    %small for #{@submission.ontology.acronym}
  %p.lead.text-center * fields are required
  = form_for :submission, url: ontology_submission_path(@ontology.acronym, @submission.submissionId), html: { method: :put, multipart: true, class: "form-horizontal" } do |f|
    = render partial: "form", locals: {f: f, button_text: "Save submission"}
