- @title = "Add new ontology submission"

%div.container
  %h2.text-center
    Add new submission
    - if !(@submission.ontology.nil? || (@submission.ontology.is_a? String))
      %small for #{@submission.ontology.acronym}
  %p.lead.text-center * fields are required
  = form_for :submission, url: {action: "create"}, html: {id: "ontology_submission_form", multipart: true, class: "form-horizontal"} do |f|
    = render partial: "form", locals: {f: f, button_text: "Add submission"}
