- @title = "Editing Project #{@project.name}"
%h1{:style => "padding: 10px;"}
  Editing project
%p{:style => "padding-left: 10px;"}
= form_for(:project, url: project_path(@project.acronym), html: {method: :put}) do |f|
  = render partial: 'form', locals: { f: f, button_text: 'Update project' }
