<h1>Editing project</h1>

<%= error_messages_for :project %>

<% form_for(@project,:html=>{:id=>'form'}) do |f| %>

	<%=render :partial=>'form'%>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

