- @title = "Add your project"
%h1{:style => "padding: 10px;"}
  New project
= form_for :project, url: {action: "create"}, html: {id: 'form'} do |f|
  = render partial: 'form', locals: { f: f, button_text: 'Create project' }
