= render SearchInputComponent.new(name:'agent' + @id, ajax_url: "/ajax/agents?organization_only=#{@organization_only}&name=",
     item_base_url:"/agents/fake_id?parent_id=#{@id}&name=", id_key: 'name',
     use_cache: false,
     actions_links: {create_new_agent: {link: "/agents/new?name=&parent_id=#{@id}&new_agent=false&type=organization", target:'_self'}}) do |s|
  - s.template do
    %a{href: "LINK", class: "home-search-ontology-content", 'data-turbo-frame': '_self'}
      %p#seached-ontology.home-searched-ontology
        NAME (IDENTIFIERS)
      %p.home-result-type
        TYPE