<% require 'ostruct' %>

<div id="container">
  <h1>Ontology Recommender</h1>
  <p>Get recommendations for the most relevant ontologies based on an excerpt from a biomedical text or a list of keywords
    <%=help_icon("/help#Recommender_Tab").html_safe%></p>

  <!-- Basic options -->
  <div id="basicOptions">
    <!-- Input type -->
    <div class="optionsBoxLeft">
      <h3>Input</h3>
      <input type="radio" id="radioItText" autocomplete="off" checked="checked" name="input_type" value="1" />
      <label>Text</label>
      <input type="radio" id="radioItKeywords" autocomplete="off" name="input_type" value="2" />
      <label>Keywords (separated by commas)</label>
    </div>
    <!-- Output type -->
    <div class="optionsBoxRight">
      <h3>Output</h3>
      <input type="radio" id="radioOtSingle" autocomplete="off" checked="checked" name="output_type" value="1" />
      <label>Ontologies</label>
      <input type="radio" id="radioOtSets" autocomplete="off" name="output_type" value="2" />
      <label>Ontology sets</label>
    </div>
  </div>
  <div style="clear:both"></div>
  <div class="optionsLinks">
    <div class="optionsLinksTopRight">
      <a href="javascript:void(0);" id="insertInputLink">insert sample input</a>
    </div>
  </div>

  <!-- Input text area -->
  <div><textarea id="inputText" class="default">Please paste a paragraph of text or some keywords to use in calculating ontology recommendations</textarea></div>

  <!-- Input text including highlighted annotations -->
  <div id="inputTextHighlighted"></div>

  <div class="optionsLinks" style="">
    <div class="optionsLinksBottomRight">
      <a href="javascript:void(0);" id="advancedOptionsLink">advanced options</a>
    </div>
  </div>

  <!-- Advanced options -->
  <div id="advancedOptions">
    <div class="optionsBox">
      <h2 class="optionsHeader">Weights configuration</h2>
      <label>Coverage</label><input type="number" id="input_wc" min="0" step="1" value="0.55">
      <label>Acceptance</label><input type="number" id="input_wa" min="0" step="1" value="0.15">
      <label>Knowledge Detail</label><input type="number" id="input_wd" min="0" step="1" value="0.15">
      <label>Specialization</label><input type="number" id="input_ws" min="0" step="1" value="0.15">
    </div>
    <div class="optionsBox">
      <h2 class="optionsHeader">Ontology sets</h2>
      <label>Maximum number of ontologies per set</label><input type="number" id="input_max_ontologies" min="2" max="4" step="1" value="3">
    </div>
    <!-- Ontology picker -->
    <div id="ontologyPicker">
      <%=render :partial => "shared/ontology_picker"%>
    </div>
  </div>

  <!-- Get recommendations / Edit Input buttons -->
  <input id="recommenderButton" type="button" style="margin-top: 10px;" class="link_button ui-button ui-widget ui-state-default ui-corner-all" value="Get Recommendations" />
  <input id="editButton" type="button" style="display: none;margin-top: 10px;" class="link_button ui-button ui-widget ui-state-default ui-corner-all" value="Edit Input" />

  <span class="recommenderSpinner"><%= image_tag "spinners/spinner_000000_16px.gif", style: "vertical-align: text-bottom;" %></span>
  <br /><br />
  <span class="notTextError">Please paste a paragraph of text or some keywords to use in calculating ontology recommendations.<br></span>
  <span class="sumWeightsError">The sum of the weights must be greater than zero.<br></span>
  <span class="rangeWeightsError">All the weights must be greater or equal to zero.<br></span>
  <span class="invalidWeightsError">All the weights must be valid numeric values.<br></span>
  <span class="invalidMaxOntError">The maximum ontologies per set must be a valid integer value.<br></span>
  <span class="maxOntologiesError">The maximum ontologies per set must be a number between 2 and 4.<br></span>
  <span class="generalError">Problem getting recommendations, please try again.<br></span>
  <span id="noResults" style="margin-left: 3px">No recommendations found.<br></span>
  <span id="noResultsSets" style="margin-left: 3px">There are no ontology sets recommended for the input provided. Please try the "Ontologies" output.<br></span>
  <span class="inputSizeError">Please use less than 500 words. If you need to annotate larger pieces of text you can use the Recommender Web Service<br></span>
  <br />
  <h2 id="resultsHeader"></h2>
  <div id="results"></div>
</div>

