.grid-container {
  max-width: 1400px;
}
[ng-cloak].splash {
  display: block !important;
}
.splash {
  display: none;
}
[ng-cloak] {
  display: none;
}
#facets {
  margin-top: 1em;
}
.facet {
  margin: 1em 0;
  border: thin lightGray solid;
  padding: 5px;
  border-radius: 3px;
}
.facet_disabled {
  color: gray;
}
.checkbox_list {
  max-height: 200px;
  overflow: auto;
}
.checkbox_list > span {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  display: block;
}
#sorting {
}
#sorting_float {
  float: right;
  margin-bottom: .5em;
}
#ontologies {
}
.ontology {
  border: thin gray solid;
  border-radius: 5px;
  clear: both;
  padding: .5em 1em .5em;
  margin: 2em 0;
}
.ontology_view_badge {
  float: left;
  height: 1em;
  padding: 5px;
  text-align: center;
  margin-right: 5px;
  border-radius: 3px;
  color: white;
  background-color: #234979;
  font-size: 1em;
  font-weight: bold;
}
.ontology_view_badge a {
  color: white;
  text-decoration: none;
}
.locked_ont {
  font-size: .65em;
  padding-left: .2em;
  color: gray;
  cursor: help;
  /* Make the lock appear in the upper left corner */
  /*
  background-color: #234979;
  padding: 2.5px 4px;
  font-size: 1em;
  color: white;
  position: relative;
  left: -10px;
  top: -8px;
  border-radius: 5px 0px;
  float: left;
  */
}
.ont-info {
  margin-right: 10px;
}
.badge_grid {
  float: right !important;
}
.badge {
  border-radius: 5px;
  text-align: center;
  max-width: 80px;
  height: 55px;
  max-height: 55px;
  border: solid #234979 thin;
}
.badge:hover {
  /*box-shadow: 0px 0px 10px 5px rgba(25, 25, 25, .5);*/
  cursor: pointer;
  /*border: none;*/
}
.badge_title {
  border-radius: 4px 4px 0 0;
  padding: .2em;
  height: 15px;
  font-size: 1.1em;
  color: white;
  background-color: #234979;
}
.badge_count {
  border-radius: 0 0 4px 4px;
  height: 27px;
  padding-top: 7px;
  font-size: 1.45em;
  font-weight: bold;
  color: #234979;
}
.badge:hover .badge_count {
  background-color: rgba(220, 235, 255, 0.79);
}
