.grid-container {
  max-width: 1400px;
}
[ng-cloak].splash {
  display: block !important;
}
.splash {
  display: none;
  width: 25%;
  height: 4em;
  padding: 2em;
  text-align: center;
  margin: 2em auto;
  background-color: #ECECEC;
  border-radius: 3px;
}
[ng-cloak] {
  display: none;
}
.admin {
  background-color: #EFFFEF !important;
}
.welcome_admin {
  width: 33%;
  padding: 7px 10px 5px;
  border-radius: 3px;
  text-align: center;
  top: -5em;
  position: relative;
  float: right;
  left: -33%;
}
.search {
  float: left;
  width: 150px;
  padding: 2px 4px 1px;
  margin-top: -5px;
  width: 200px;
}
.smaller {
  color: gray;
  font-size: .8em;
  padding-bottom: 2px;
}
#facets {
  margin-top: 1em;
}
.new_ontology_button {
  display: inline-block;
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 1em;
}
.facet {
  margin: 1em 0;
  border: thin lightGray solid;
  padding: 5px;
  border-radius: 3px;
}
.facet_disabled {
  color: gray;
}
.checkbox_list {
  max-height: 200px;
  overflow: auto;
  padding-left: 1px;
}
.checkbox_list > span {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  display: block;
}
#sorting {
}
#sorting_float {
  float: right;
  margin-bottom: .5em;
}
@keyframes highlight {
  0% {
    background: yellow;
  }
  100% {
    background: none;
  }
}
@-webkit-keyframes highlight {
  0% {
    background: yellow;
  }
  100% {
    background: none;
  }
}
.trigger_highlight-add, .trigger_highlight-remove {
  -webkit-animation: highlight 1s;
  animation: highlight 1s;
}
#ontologies {
}
.clear {
  clear: both;
}
.ontology {
  border: thin gray solid;
  border-radius: 5px;
  padding: .5em 1em .5em;
  margin: 1em 0;
}
.ontology_view_badge {
  float: left;
  padding: 5px;
  text-align: center;
  margin-right: 5px;
  border-radius: 3px;
  color: white;
  background-color: #234979;
  font-size: 1em;
  font-weight: bold;
}
.ontology_view_badge a {
  color: white;
  text-decoration: none;
}
.locked_ont {
  font-size: .65em;
  padding-left: .2em;
  color: gray;
  cursor: help;
  /* Make the lock appear in the upper left corner */
  /*
  background-color: #234979;
  padding: 2.5px 4px;
  font-size: 1em;
  color: white;
  position: relative;
  left: -10px;
  top: -8px;
  border-radius: 5px 0px;
  float: left;
  */
}
.ont-info {
  margin: 5px 5px 0 0;
  display: inline-block;
  padding: 5px 10px 3px;
  border-radius: 3px;
  background-color: #ECECEC;
  font-size: 11px;
}
.badge_grid {
  float: right !important;
}
.ontology_badge {
  border-radius: 5px;
  text-align: center;
  max-width: 60px;
  height: 45px;
  max-height: 45px;
  border: solid #234979 thin;
}
.ontology_badge:hover {
  cursor: pointer;
}
.badge_title {
  border-radius: 4px 4px 0 0;
  font-size: 12px;
  color: white;
  background-color: #234979;
}
.badge_count {
  border-radius: 0 0 4px 4px;
  height: 22px;
  font-size: 1.1em;
  font-weight: bold;
  color: #234979;
}
.ontology_badge:hover .badge_count {
  background-color: rgba(220, 235, 255, 0.79);
}