[ng-cloak].splash {
  display: block !important;
}
.splash {
  display: none;
}
[ng-cloak] {
  display: none;
}
#facets {
  margin-top: 1em;
}
.facet {
  margin: 1em 0;
  border: thin lightGray solid;
  padding: 5px;
  border-radius: 3px;
}
.facet_disabled {
  color: gray;
}
.checkbox_list input[type=checkbox] {
  margin-left: -1.2em;
}
.checkbox_list {
  padding-left: 1.2em;
  max-height: 200px;
  overflow: auto;
}
#sorting {
}
#sorting_float {
  float: right;
  margin-bottom: .5em;
}
#ontologies {
}
.ontology {
  border: thin gray solid;
  border-radius: 5px;
  clear: both;
  padding: .5em 1em .5em;
  margin: 2em 0;
}
.badge {
  border-radius: 5px;
  text-align: center;
  max-width: 80px;
  height: 65px;
  max-height: 65px;
  border: solid #234979 thin;
}
.badge:hover {
  box-shadow: 0px 0px 10px 5px rgba(25, 25, 25, .5);
  cursor: pointer;
  border: none;
}
.badge_title {
  border-radius: 6px 6px 0 0;
  padding: .2em;
  height: 15px; font-size: 1.1em;
  color: white;
  background-color: #234979;
}
.badge_count {
  height: 40px;
  padding-top: 10px;
  font-size: 1.8em;
  font-weight: bold;
  color: #234979;
}
