-# Additional Metadata pane
%section.ont-metadata-card.ont-additional-metadata-card
  %header.pb-2.font-weight-bold
    Additional Metadata
  %table.table.table-sm
    = raw additional_metadata(@submission_latest) unless @submission_latest.nil?
