:javascript
  $("##{id}").ready(function() {
    const ontology_acronym = "#{@ontology.acronym}"
    const concept_id = "#{@instances_concept_id}"

    // render the instances data table
    const inst = InstancesTable.mount("##{id}" , ontology_acronym , concept_id)

    //print the instance count append to the tab title
    inst.dataTable.on("xhr" ,  () => {
        $("#instances_count").text(inst.dataTable.ajax.json().totalCount)
    })


    const conceptIdValue = getInstanceConceptId()
    // if an instance conceptid is set an the uri, shows it's details as a popup
    if(conceptIdValue !== ""){
      jQuery.blockUI()
      getInstanceDetailsFromURI(ontology_acronym , conceptIdValue )
      .then((data) => {
        const details = new InstanceDetails(ontology_acronym , data["@id"] , data.types , data.properties)
        jQuery.unblockUI()
        $.facebox(details.render().html())
      })
      .catch(() => jQuery.unblockUI())
    }
  })

%div.ontologies_list_container.mt-3
  %table.zebra{id: id,style:"width:100%; position:relative"}






