<div id="mappings_content" style="margin: 1em 0; padding: 0 1em;">
  <h2 style="margin-bottom: -.5em; font-size: x-large; padding: 0.5em 0 0;">Mappings</h2>
  <%= render :partial => 'mappings/count' %>
</div>
