%div{:style => "padding: 1em;"}
  %div
    %div{:style => "float: right; width: 40%"}= render :partial => 'metrics'
    = render :partial => 'details'
  %div{:style => "clear: both;"}
  = render :partial => 'reviews'
  / TODO_REV: Enable multiple versions
  / = render :partial => 'versions'
  / TODO_REV: Enable views when they're ready
  / = render :partial => 'views'
  %div{:style => "clear: both;"}
  = render :partial => 'projects'
  %div{:style => "clear: both;"}
