= turbo_frame_tag 'application_modal_content' do
    - if @onts.present?
        %style
            :plain
                table {
                border-collapse: collapse;
                }
                th, td {
                border: 0px solid black;
                padding: 5px;
                }
        %table
            %tr
                %th
                    N°
                %th
                    Acronym
                %th
                    Actions
            - nb = 1
            - @onts.each do |o|        
                %tr
                    %td
                        = nb
                        - nb += 1
                    %td
                        = o.acronym
                    %td                       
    - else
        %p There is no ontologies