- if @submission.hasOntologyLanguage === 'SKOS'
  - if @submission.URI.nil? || @submission.URI.empty?
    %div.alert.alert-warning.mx-2.text-wrap
      no main scheme defined in the attribute URI
  %div#schemes.d-flex.pb-2
    - schemes_labels,selected_label = get_schemes_labels(@schemes, @submission.URI)
    - if selected_label
      %div.input-group-prepend
        %span.input-group-text Schemes
      %div.flex-grow-1
        - schemes_labels.map!{ |s| [s["prefLabel"], s["@id"]]}
        - selected_label = [[selected_label["prefLabel"], selected_label["@id"]]]
        = select(:schemes,nil, schemes_labels, {selected: selected_label[0]},{multiple: true, id: "schemes_select", class:"form-control"})
        = hidden_field(:schemes_value,nil, {value: selected_label[0], id: "schemes_select_empty_select_hack", name: "schemes"})

