= render Input::InputFieldComponent.new(label: 'Location', name: '') do
  .location-choice
    %input{type: "radio", name: "submission[isRemote]", value: "3", checked: summary_only?, id: "metadata_only", onchange: "displayMetadataOnlyForm()"}
    %label.title{for: "metadata_only"}
      Metadata only (No file)
  .upload-ontology-desc.mb-2
    Allow users to view the metadata of your ontology (Summary) only.
  #metadata-only-form

  .location-choice
    %input{type: "radio", name: "submission[isRemote]", value: "1", id: "load_from_url",  checked: ontology_pull_location?, onchange: "displayUrlForm()"}
    %label.title{for: "load_from_url"}
      Load from URL
  .upload-ontology-desc.mb-1
    New versions loaded on a nightly basis.
  #url-form{style: ontology_pull_location? ? "" : "display:none;"}
    = render Input::UrlComponent.new(label: "", name: "submission[pullLocation]", value: @submission.pullLocation)
  .location-choice.mb-3.mt-3
    - checked = !summary_only? && !ontology_pull_location?
    %input{type: "radio", name: "submission[isRemote]", value: "0", id: "upload_local_file", checked: checked, onchange: "displayLocalFileForm()"}
    %label.title{for: "upload_local_file"}
      Upload local file
  #local-file-form{style: checked ? "" :  "display:none;" }
    = render Input::FileInputComponent.new(name: "submission[filePath]")


  :javascript
    var MetadataOnlyForm = document.getElementById("metadata-only-form");
    var UrlForm = document.getElementById("url-form");
    var LocalFileForm = document.getElementById("local-file-form");

    var displayForm = (formElement) => {
      [MetadataOnlyForm, UrlForm, LocalFileForm].forEach((form) => {
        if (form === formElement) {
          form.style.display = "block";
        } else {
          form.style.display = "none";
        }
      });
    };

    var displayMetadataOnlyForm = () => {
      displayForm(MetadataOnlyForm);
    };

    var displayUrlForm = () => {
      displayForm(UrlForm);
    };

    var displayLocalFileForm = () => {
      displayForm(LocalFileForm);
    };
