= turbo_frame_tag 'concepts_tree_view' do
  #tree_wrapper.p-1
    %ul.simpleTree{data:{controller: 'simple-tree'}}
      %li.root
        %ul
          = draw_tree(@root, @concept.id)

  :javascript
    jQuery(document).ready(function () {
      jQuery("#sd_content").scrollTo(jQuery('a.active'));
    })
