= turbo_frame_tag 'concepts_tree_view' do
  #tree_wrapper.hide-if-loading
    %ul.simpleTree{data:{controller: 'simple-tree history',
                        'simple-tree': { 'auto-click-value': "#{autoCLick}" },
                        action: 'clicked->history#updateURL'}}
      %li.root
        %ul
          = draw_tree(@root, params[:ontology], @concept.id, params[:concept_schemes]&.split(','))


