- if visits_data(@ontology)
  %canvas#visits_chart{data: {controller:'load-chart' , 'load-chart-labels-value': @visits_data[:labels].last(13),
                              'load-chart-datasets-value': visits_chart_dataset(@visits_data[:visits].last(13))}}
- else
  = empty_state_message "We are still collecting data for #{@ontology.acronym}"
