- months_to_show = 18
#visits_content{:style => "margin: 2em 1em 0;"}
  %div{:style => "clear:both;"}
  %div{:style => "width: 100%;"}
    %h2
      %span{:style => "font-size: x-large;"} Visits
      -# = help_icon("http://www.bioontology.org/wiki/index.php/Ontology_Metrics", { :title => "View individual metrics definitions", :style => "margin-top: -7px;" })
      &nbsp;&nbsp;
      %a{href: @ontology.links["analytics"] + "?apikey=#{get_apikey}&format=csv", style: "font-size: smaller;", target: "_blank"} Download as CSV
    %div
      %canvas#visits_chart{style: "width: 100% !important; max-width: 600px; height: 300 !important;"}

:javascript
  var numberWithCommas = function(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  };
  Chart.defaults.global.scaleLabel = "<%=numberWithCommas(value)%>";

  var data = {
      labels: #{visits_data[:labels][0..months_to_show-1].to_json},
      datasets: [
          {
              label: "Visits",
              fillColor: "rgba(151,187,205,0.2)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(151,187,205,1)",
              data: #{visits_data[:visits][0..months_to_show-1].to_json}
          }
      ]
  };
  var ctx = document.getElementById("visits_chart").getContext("2d");
  var myLineChart = new Chart(ctx).Line(data, { responsive: true });

