- if visits_data(@ontology)
  %canvas#visits_chart{data: {labels: @visits_data[:labels].last(13), visits: @visits_data[:visits].last(13)}}
- else
  %p.font-italic= "We are still collecting data for #{@ontology.acronym}"