- months_to_show = 12

- if visits_data
  %canvas#visits_chart
- else
  %p.font-italic We are still collecting data for this ontology.

- if visits_data
  :javascript
    // Note duplicated code in bp_ont_chart due to Ajax loading
    var numberWithCommas = function(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    };

    jQuery(document).data().bp.ont_chart = {};
    jQuery(document).data().bp.ont_chart.scaleLabel = "<%=' ' + numberWithCommas(value)%>";
    jQuery(document).data().bp.ont_chart.visitsLabels = #{visits_data[:labels][-1-months_to_show..-1].to_json};
    jQuery(document).data().bp.ont_chart.visitsData = #{visits_data[:visits][-1-months_to_show..-1].to_json};

