<script>
  jQuery(document).data().bp.ontologies = <%=@ontologies.to_json%>;
  jQuery(document).data().bp.categories = <%=@categories.to_json%>;
  jQuery(document).data().bp.groups = <%=@groups.to_json%>;
  jQuery(document).data().bp.formats = <%=@formats.to_json%>;
</script>

<link href="//cdnjs.cloudflare.com/ajax/libs/unsemantic/0/unsemantic-grid-responsive-tablet.css" rel="stylesheet" type="text/css" media="screen">
<meta name="viewport" content="
    width=device-width,
    initial-scale=1,
    minimum-scale=1,
    maximum-scale=1
  " />

<main class="grid-container" role="main" style="margin-bottom: 1em; margin-top: 1em;">
  <h1 style="font-size: 3em;">Ontologies</h1>
  <div class="splash" ng-cloak>Loading...</div>

  <div ng-controller="OntologyList" ng-cloak>
    <div id="facets" class="grid-15">
      <div id="ont_view_facet" class="facet">
        <h4>Entry Type</h4>
        <div class="checkbox_list">
          <span ng-repeat="type in types">
            <input type="checkbox" checklist-model="facets.types" checklist-value="type" id="include_{{type}}" name="include_{{type}}">
            <label for="include_{{type}}">{{type | idToTitle}}</label>
            <br/>
          </span>
        </div>
      </div>

      <div id="format_facet" class="facet">
        <h4>Format</h4>
        <div class="checkbox_list">
          <span ng-repeat="format in formats">
            <input type="checkbox" checklist-model="facets.formats" checklist-value="format" name="format" id="format_{{format}}">
            <label for="format_{{format}}">{{format}}</label>
            <br/>
          </span>
        </div>
      </div>

      <div id="has_artifacts_facet" class="facet">
        <h4>Entries With</h4>
        <div class="checkbox_list">
          <span ng-repeat="artifact in artifacts">
            <input type="checkbox" checklist-model="facets.artifacts" checklist-value="artifact" name="artifact" id="artifact_{{format}}"> <label for="artifact_{{artifact}}">{{artifact | idToTitle}}</label><br/>
          </span>
        </div>
      </div>

      <div id="group_facet" class="facet">
        <h4>Group</h4>
        <div class="checkbox_list">
          <span ng-repeat="group in groups"><input type="checkbox" checklist-model="facets.groups" checklist-value="group" name="group" id="group_{{group.acronym}}" > <label for="group_{{group.acronym}}" title="{{group.name}}">{{group.acronym}}</label><br/></span>
        </div>
      </div>

      <div id="category_facet" class="facet">
        <h4>Category</h4>
        <div class="checkbox_list">
          <span ng-repeat="category in categories"><input type="checkbox" checklist-model="facets.categories" checklist-value="category" name="category" id="category_{{category.acronym}}"> <label for="category_{{category.acronym}}">{{category.name}}</label><br/></span>
        </div>
      </div>

    </div>

    <div id="ontologies" class="grid-85">
      <div id="sorting">
        <div id="sorting_float">
          <label for="sort_order">Sort:</label>
          <select>
            <option value="pop">Popular</option>
            <option value="pop">Size</option>
            <option value="pop">Projects</option>
            <option value="pop">Rating</option>
            <option value="pop">Upload Date</option>
          </select>
        </div>
      </div>

      <div class="ontology grid-parent clearfix" ng-repeat="ontology in ontologies" ng-show="ontology.show">
        <div class="grid-60">
          <h2 style="font-size: 1.8em;">{{$index}} {{ontology.type}} {{ontology.name}} ({{ontology.acronym}})</h2>
          <div ng-show="ontology.submission">
            <p>{{ontology.submission.description.split(". ")[0]}}</p>
            <span class="ont-info"><b>Uploaded</b>: {{ontology.submission.creationDate | date:'shortDate'}}</span>
            <span class="ont-info"><b>Format</b>: {{ontology.submission.hasOntologyLanguage}}</span>
            <span class="ont-info" ng-show="ontology.submission.homepage"><a href="{{ontology.submission.homepage}}">Home</a></span>
            <div class="admin">
              <span ng-show="ontology.submission.pullLocation"><b>Pull URL</b>: {{ontology.submission.pullLocation}}</span>
            </div>
          </div>
          <span ng-hide="ontology.submission">No submissions available</span>
        </div>

        <style>
        .badge_grid {float: right;}
        .ont-info {margin-right: 10px;}
        </style>

        <div class="badges grid-40 grid-parent" ng-show="ontology.submission">
          <div class="grid-25 badge_grid">
            <div class="badge">
              <div class="badge_title">classes</div>
              <div class="badge_count">{{ontology.class_count}}</div>
            </div>
          </div>
          <div class="grid-25 badge_grid" ng-show="ontology.projects">
            <div class="badge">
              <div class="badge_title">projects</div>
              <div class="badge_count">{{ontology.projects.length}}</div>
            </div>
          </div>
          <div class="grid-25 badge_grid" ng-show="ontology.notes">
            <div class="badge">
              <div class="badge_title">notes</div>
              <div class="badge_count">{{ontology.notes.length}}</div>
            </div>
          </div>
          <div class="grid-25 badge_grid" ng-show="ontology.reviews">
            <div class="badge">
              <div class="badge_title">rating</div>
              <div class="badge_count">4.5 / 5</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>