.alert.alert-dismissible.fade.show{:role => "alert", class: "#{@type}", style: "text-align: left;white-space: normal;"}
  = @message || content
  
  - if @closeable 
    %button.close{"aria-label": "Close", "data-dismiss": "alert", type: "button", style: "background: transparent"}
      %span{"aria-hidden" => "true"} &times;

  