<%= content_tag :div, id: "bd", style: "clear: both; text-align: center; margin-top: 100px; margin-bottom: 100px;" do -%>
	<h1>
		<%= @error_message || "The page you are looking for wasn't found. Please try again." %>
	</h1>
<% end -%>