.d-flex.align-items-center.flex-column.position-relative
    = inline_svg("errors/agroportal.svg") 
    .position-absolute{style: "top: 442px; font-size: 30px; font-weight: 800; color: #263238;"}
        = @error_message || "Page not found"
    .buttons.d-flex.justify-content-center.mt-3
        %div{style: "width: 216px;"}
            = render Buttons::RegularButtonComponent.new(id:'Home-button', value: "Go home", variant: "secondary", href: "/") 
        %div{style: "width: 216px; margin-left: 22px"}
            = render Buttons::RegularButtonComponent.new(id:"feedback-button" ,value: "Send a feedback", variant: "primary", href: "/feedback")



