- if  show_divider?
  %div.dropdown-divider
- if header?
  %h6.dropdown-header= header
- items.each_with_index do |text,  index|
  %span.dropdown-item{class: index.eql?(@selected) ? 'dropdown-item-selected' : ''}
    = text