%div.mt-5
  %div
    = form_tag("/ontologies_metadata_curator/:ontologies_metadata_curator_id/result", method: "post", data: { turbo: true}) do      
      .ro
        %div.form-group{style: "width:432px"}
          = render :partial => "shared/ontology_picker", locals: {sel_text: "Ontologies", selected_ontologies: @ontologies_ids}
        %div.metasel.form-group
          %h6{style: "font-size: 10pt !important"} Metadata Properties
          = select(:search, :metadata, options_for_select(metadata_for_select, :selected => @metadata_sel), {},style: "width: 432px", multiple: "true")
        %div.metabtn.form-group
          %button{:type => "submit", :class=> "btn btn-primary", :data => {controller: "loaders", action: "click->loaders#showLoader"}}
            Get metadata values



