- if notice.present?
  %div.alert.alert-success.alert-dismissible.fade.show.mt-3.mb-0{role: "alert"}
    = notice
    = button_tag(type: "button", class: "btn-close", "aria-label": "Close", "data-bs-dismiss": "alert")
