- if notice.present?
  %div{class: 'alert alert-success alert-dismissible fade show mt-3 mb-0', role: "alert"}
    = notice
    = tag.button(class: 'btn-close', 'aria-label': 'Close', 'data-bs-dismiss': 'alert')
