= render FormGroupComponent.new(object:nil, name: :search, method: :metadata, label: @label, inline: @inline) do
  = select(:search, :metadata, options_data, {}, style:'width:100%', multiple: @multiple, data: {controller:'metadata-select'})