= render TurboFrameComponent.new(id: "properties", data: {"turbo-frame-target": "frame"} ) do
  %div.ont-properties{data: {controller: 'container-splitter turbo-frame', 'turbo-frame': {
      'url-value': "/ontologies/#{@ontology.acronym}/properties/show"
      }}}
    %div#propTree{data: {'container-splitter-target': 'container', action: 'change->turbo-frame#updateFrame'}}
      = render partial: 'properties/properties_tree'
    %div#prop_contents.pl-3{data: {'container-splitter-target': 'container'}}
      = render partial: 'properties/show' 
