- output =""
- for child in @children
  - output << tree_link_to_concept(li_id: short_uuid, child: child, ontology_acronym: @submission.ontology.acronym, active_style: '', lang: request_lang(@submission))
  - if child.hasChildren
    - output << tree_link_to_children(li_id: short_uuid, child: child, ontology_acronym: @submission.ontology.acronym,lang: request_lang(@submission))
  - output << "</li>"
= raw output
