- output =""
- for child in @children
  - output << tree_link_to_concept(li_id: short_uuid, child: child, ontology_acronym: child.explore.ontology.acronym, active_style: '', node: @concept)
  - if child.hasChildren
    - output << tree_link_to_children(li_id: short_uuid, child: child)
  - output << "</li>"
= raw output
