- output =""
- for child in @children
  - output << tree_link_to_concept(child: child, ontology_acronym: child.explore.ontology.acronym, active_style: '', node: @concept)
  - if child.hasChildren
    - output << tree_link_to_children(child: child, concept_schemes: @schemes)
  - output << "</li>"
= raw output
