
<table class="minimal" cellpadding="0" cellspacing="0" width="100%">
<!--
	<tr>
		<td nowrap class="label">Class Name:</td>
		<td><%=@concept.name%></td>
	</tr>
-->
	<tr>
		<td nowrap class="label" >ID:</td>
		<td><%=@concept.id%></td>
	</tr>

<%@concept.properties.each_pair{|key,value| %>
	
	<%if key.eql?("type")|| key.eql?("rdf:type")
		next
	end%>
	<tr>
		<td nowrap class="label"> <%="#{remove_owl_notation(key)}:"%> </td>
		<td ><%="#{value}"%></td>
	</tr>
	
<% } %>
</table>



