= render TreeInfiniteScrollComponent.new(id: 'concepts_list',
                                    collection: @concepts,
                                    next_url: concept_list_url(@page.nextPage, request_collection_id, @ontology.acronym),
                                    current_page: @page.page, next_page: @page.nextPage,
                                    auto_click: @auto_click) do |c|
  - concepts = c.collection.sort_by{|concept| [concept.prefLabel&.capitalize || concept.id]}
  - if concepts && !concepts.empty?
    - concepts.each do  |concept|
      - children_link, data, href = concept_tree_data(@ontology.acronym, concept, request_lang, [])
      = render TreeLinkComponent.new(child: concept, href: href,
          children_href: '#', selected: concept.id.eql?(concepts.first.id) && c.auto_click?,
          target_frame: 'concept_show', data: data, is_reused: concept_reused?(submission: @submission, concept_id: concept.id))

  - c.error do
    - if @collection.nil?
      = t("ontologies.concepts_browsers.select_collection")
    - else
      = t('concepts.list_error')
