<% #Created a different way to parse because of the limitations of JSon to do large HTML segments ||| divides the areas , final 2 are mappings and notes to be updated%>
<%=render :partial =>'/concepts/biomixer'%>|||<%=render :partial =>'details'%>||| <a class="get_via_ajax" href="/ajax/notes/concept_list?ontology=<%=@ontology.id%>&concept=<%=param(@concept.fullId_proper)%>"></a> |||<%=render :partial =>'/mappings/concept_mappings'%>||| <%= "&nbsp;" %> <!-- # This used to hold demo-specific info, now it's a placeholder -->||| <!-- used to hold notes count --> |||<%=@concept.mapping_count%>
