var simpleTreeCollection;
function initClassTree() {
    simpleTreeCollection = jQuery('.simpleTree').simpleTree({
        autoclose: false,
        drag: false,
        animate: true,
        timeout: 20000,
        afterClick: function (node) {
            const page_name = $(node.context).attr("data-bp-ont-page-name")
            const conf = jQuery(document).data().bp.ont_viewer
            const concept_id = jQuery(node).children("a").attr("id")
            History.pushState({
                    p: "classes",
                    conceptid: concept_id
                }, page_name + " | " + conf.org_site,
                '?p=classes&conceptid=' + concept_id)
        },
        afterAjaxError: function (node) {
            simpleTreeCollection[0].option.animate = false;
            simpleTreeCollection.get(0).nodeToggle(node.parent()[0]);
            if (node.parent().children(".expansion_error").length == 0) {
                node.parent().append("<span class='expansion_error'>Error, please try again");
            }
            simpleTreeCollection[0].option.animate = true;
        },
        beforeAjax: function (node) {
            node.parent().children(".expansion_error").remove();
        }
    });

  setConcept(jQuery(document).data().bp.ont_viewer.concept_id);
  setOntology(jQuery(document).data().bp.ont_viewer.ontology_id);
  jQuery("#sd_content").scrollTo(jQuery('a.active'));

  // Setup the "Get all classes" link for times when the children is greater than our max
  jQuery(".too_many_children_override").live('click', function(event) {
    event.preventDefault();
    var result = jQuery(this).closest("ul");
    result.html("<img src='/images/tree/spinner.gif'>");
    jQuery.ajax({
      url: jQuery(this).attr('href'),
      context: result,
      success: function(data){
        this.html(data);
        // This sets up the returned content with SimpleTree functionality
        simpleTreeCollection.get(0).setTreeNodes(this);
      },
      error: function(){
        this.html("<div style='background: #eeeeee; padding: 5px; width: 80%;'>Problem getting children. <a href='" + jQuery(this).attr('href') + "' class='too_many_children_override'>Try again</a></div>");
      }
    });
  });
};


// Keep trying to put the tree view content in place (looks for #sd_content)
function placeTreeView(treeHTML) {
  if (jQuery("#sd_content").length == 0) {
    setTimeout(function(){placeTreeView(treeHTML)}, 500);
  } else {
    document.getElementById("sd_content").innerHTML = treeHTML;
    initClassTree();
  }
}

// Retrieve the tree view using ajax
function getTreeView() {
  jQuery.ajax({
    url: "/ajax/classes/treeview?ontology="+jQuery(document).data().bp.ont_viewer.ontology_id+"&conceptid="+encodeURIComponent(jQuery(document).data().bp.ont_viewer.concept_id),
    success: function(data) {
      placeTreeView(data);
    },
    error: function(data) {
      jQuery.get("/ajax/classes/treeview?ontology="+jQuery(document).data().bp.ont_viewer.ontology_id+"&conceptid=root", function(data){
        var rootTree = "<div class='tree_error'>Displaying the path to this class has taken too long. You can browse classes below.</div>" + data;
        placeTreeView(rootTree);
      });
    },
    timeout: 15000
  });
}

