= turbo_frame_tag :cookie_consent do
  %div{class: 'cookie-banner shadow rounded p-5'}
    %div
      = t('.message.html', cookies: Rails.configuration.settings.dig(:links, :cookies))
    %div{class: 'd-flex'}
      = button_to('Accept', cookie_consent_path(consent: true), method: 'post', class: 'btn btn-secondary me-2')
      = button_to('Decline', cookie_consent_path(consent: false), method: 'post', class: 'btn btn-outline-secondary')

