= render(CardMessageComponent.new(title:"no-title" ,message: "A password reset email has been sent to your email, please follow the instructions in the email to reset your password.", button_text: "Back home", type:"success"))
