<%= form_for(:user , :url=>{:controller=>'login',:action=>'send_pass'}) do%>

<center>

<table class="form" width="400px" style="margin: 4em 4em 1em;">
	<tr>
		<th>Email: <span class="asterik">*</span></th><td class="top"><%=text_field 'user', :email%></td>
	</tr>
  <tr>
    <th>Account Name: <span class="asterik">*</span></th><td><%=text_field 'user', :account_name%></td>
  </tr>
	<tr>
		<td colspan="2" align="right">
      <%=submit_tag "Email Password Reset Instructions"%>
    </td>
	</tr>
</table>
<div class="asterik" style="margin-bottom: 2em;">* required</div>
</center>


<%end%>