= form_for(:user , :url=>{:controller=>'login',:action=>'send_pass'}) do
  .d-flex.justify-content-center.m-4
    .lost-password-form
      .d-flex.justify-content-between
        %a{:href => "javascript:javascript:history.go(-1)"}
          %img.lost-password-arrowback{:src => "#{asset_path("arrow-back.svg")}"}/
        .lost-password-title-container
          %h2.lost-password-title
            Recover password
          %hr#lost-password-title-line/
        %div
      %p.lost-password-description Enter the email address associated with your account and we will send an email with instructions to reset your password.
      %p.lost-password-input-title Email
      = text_field 'user', :email,class: "lost-password-input", placeholder: "Enter the email"
      %input.lost-password-button{:type => "submit", :value => "Send instructions"}/
