= render(CardMessageComponent.new(message: "A password reset email has been sent to your email address, please follow the instructions to reset your password.", button_text: "Back home", type:"success"))
