= form_for(:user , :url=>{:controller=>'login',:action=>'send_pass'}) do
	%center
		%table.form{:style => "margin: 4em 4em 1em;", :width => "400px"}
			%tr
				%th
					Email:
					%span.asterik *
				%td.top= text_field 'user', :email
			%tr
				%th
					Account Name:
					%span.asterik *
				%td= text_field 'user', :account_name
			%tr
				%td{:align => "right", :colspan => "2"}
					= submit_tag "Email Password Reset Instructions"
		.asterik{:style => "margin-bottom: 2em;"} * required
