= form_with scope: :user , url: login_send_pass_path do |f|
	%center
		%table.form{:style => "margin: 4em 4em 1em;", :width => "400px"}
			%tr
				%th
					Email:
					%span.asterik *
				%td.top= f.email_field :email
			%tr
				%th
					Account Name:
					%span.asterik *
				%td= f.text_field :account_name
			%tr
				%td{:align => "right", :colspan => "2"}
					= submit_tag "Email Password Reset Instructions"
		.asterik{:style => "margin-bottom: 2em;"} * required
