<br>
<%unless session[:user].nil?%>
<span class="blueButton"><%=link_to_prototype_dialog( "New Point-to-Point Mapping", {:url =>new_mapping_path(:ontology=>@ontology,:source_id =>@concept.id), :options=> {:method=> 'get'}},'form', {:title => "New Mapping  For #{remove_owl_notation(@concept.name)}", :width =>800,:height=>600})%></span>
<%end%>
<div id="mapping_details">
<%= render :partial => '/mappings/mapping_table'%>
</div>