%table#mapping_count_table.zebra{cellpadding: "0", cellspacing: "0"}
  %thead
    %tr
      %th Ontology
      %th Mappings
  %tbody
    - if @mapping_counts.blank?
      %tr
        %td There are no mappings to or from this ontology
        %td &nbsp;
    - else
      - for mapping_count in @mapping_counts
        %tr
          %td
            = link_to(mapping_count[:target_ontology][:name],
                      mapping_path(id: @ontology.acronym, target: mapping_count[:target_ontology][:id]),
                      class: 'facebox')
          %td
            = number_with_delimiter(mapping_count[:count], delimiter: ',')
