<%@title = "Mappings"%>
<p style="padding:10px;margin:10px; border:1px solid #EFEFEF;" >
    Many ontologies in BioPortal have terms with similar meanings (e.g., there is a term for "Heart" in several ontologies). 
BioPortal users and NCBO researchers have contributed mappings between related terms from different ontologies. Use this page to explore 
mappings between ontologies that you are interested in. You will also see the mappings when you browse individual ontologies. 
</p>


<p style="font-size:15px;font-weight:bold;padding:10px;border:1px solid #cfcfcf;">Display Mapping Count for 
<%=
            options ={}
			for ontology in @ontologies
			options.merge!(ontology.displayLabel+ " (#{ontology.map_count})" => ontology.id)
			end 
			options = options.sort                     
            select('search','ontologies',options,{:prompt=>'Select ontology...'},{:onchange=>"jQuery('#mappingCount').load('/mappings/count/'+this.value);jQuery('#mappings').html('');"})
            %>
            <span style="font-size: x-small;">(Only Ontologies with Mappings are displayed)</span>


<div id="mappingCount" style="text-align:center;overflow:hidden;padding:10px;">
	
	
</div>

