<%@title = "Mappings"%>

<p style="padding:1em;max-width:1100px" >
  <% intro_text = "Mappings are associations between two or more terms in different ontologies. This association typically, but not always, represents a degree of similarity between the terms. The author of the mapping defines the semantics of a particular mapping. It is also usual for a mapping to be bi-directional, but again, this is not required. The mapping author defines directionality."%> 
  <%=t('mappings.intro').nil? || t('mappings.intro').empty? ? "#{intro_text}  #{help_icon("/help#Mappings_Tab")}" : t('mappings.intro')%>
</p>

<%= javascript_include_tag "/themes/cupertino/js/jquery-ui-1.8.1.custom.min.js" %>

<script type="text/javascript">
  function loadMappings(value) {
    jQuery('#mapping_load').show();
    jQuery('#mappingCount').load('/mappings/count/'+value, function() {
      jQuery('#mapping_load').hide();
      jQuery("#mapping_count_table").effect("highlight", { color: "#F5F5F5" }, 500);
    });
    jQuery('#mappings').html('');
  }
</script>

<p style="font-size:15px;font-weight:bold;padding:10px;margin-bottom:0;border:1px solid #cfcfcf;">Display Mappings for 
  <%= select('search', 'ontologies', @options, {:prompt=>'Select ontology...'},{:onchange=>"loadMappings(this.value);"}) %>
  <span style="font-size: x-small;">(Only Ontologies with Mappings are displayed)</span>
</p>

<div id="mapping_load" style="padding: 1em 1em 0; margin-bottom: -1em; display: none;">
  <img src="/images/tree/spinner.gif" style="vertical-align: text-bottom;" /> Loading mappings...
</div>

<div id="mappingCount" style="text-align:center;overflow:hidden;padding:10px;">
  
  
</div>
