- @title = "Mappings"
%div#mappings_container.container-fluid.py-4
  %h1.my-1 Mappings

  %div#mappings_uploader.my-2
    = link_to_modal "Upload mappings" , "/mappings/loader", class: "btn btn-primary btn-block",
       data: { show_modal_title_value: "Mappings bulk load", show_modal_size_value: 'modal-xl'}
  %hr.my-3.w-100
    #accordionExample.accordion
      = render partial: 'ontology_mappings'
      = render partial: 'concept_mappings_selector'


