
<div class="souslesens-link text-center my-5">
<h1>Sous le sens</h1>
<p  style="padding-left: 201px; padding-right: 210PX;" >
SousLesensVocables is a suite of open source tools (MIT licence) willing to make semantic web technologies accessible to who wants to digitalize knowledge and reconciliate Business and IT using graphs and ontologies
Souslesens comes from the french expression “cela tombe sous le sens“. It means “it is obvious or it should be, if not yet“. <br/>
Our motivation to develop SouslesensVocables is based on the conviction that “meaning and common sense” are among the most important things in different domains of intellectual life. We beleive that ontologies and semantic web are the best technologies today to formalize desambiguized knowledge, and make machines and humans interact with complex data
<br/><br/>
</p>
 <%= link_to "Visit Souslesens", "http://souslesens.enit.fr", class: "btn btn-primary" %>
</div>