.card-message-card{
    margin-top: 30px;
    padding: 37px 41px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 50px;
    border-radius: 14px;
}
.card-message-title{
    font-size: 19px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
}
.card-message-text{
    text-align: center;
    width: 310px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 21px;
}
.card-message-button{
    padding: 16px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;
}
.card-message-button-success{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.card-message-button-failure{
    color: #EE404C !important;
    border: 1px solid #EE404C;
}
.card-message-has-title{
    color: #666666;
    font-weight: 400;
}
