.chip_button_container {
    background-color: #F6F6F6;
    padding: 10px;
    border-radius: 5px;
    color: #777777 !important;
    font-weight: 500;
    font-size: 15px;
}
.chip_button_container_clickable{
    background-color: var(--light-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 15px;
}


