.concept_details_component .raw-table .dropdown-title-bar p {
  color: var(--primary-color);
  font-weight: 500;
}


.concept_details_component table th {
  width: 220px;
}

.concept_details_component td, .concept_details_component th{
  max-width: 200px;
}