.header-component {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 550;
    justify-content: space-between;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    width: 100%;
    padding: 14px 20px;
    position: relative;
    p {
        margin-bottom: 0;
    }
}