.modal-content{
    border-radius: 20px !important;
}

.modal-title {
    text-align: center;
    flex: 1px;
}

.close {
    margin-left: 0px;
    &:focus{
        outline: none;
    }
}

.shape {
    border-radius: 50% !important;
    width: 35px;
}