.nested-form-input-container .titles{
  display: flex;
  font-size: 11px;
  color: #666666;
  margin-bottom: 5px;
  width: 90%;
}


.nested-form-input-container  input:focus{
  border: 1px solid #31B404 !important;
}

.nested-form-input-container .delete{
  display: flex;
  border: 1px dashed #BDBDBD;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 43px;
  border-radius: 5px;
  cursor: pointer;
}

.nested-form-input-container .add-another-object{
  border: 1px dashed #BDBDBD;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}
.nested-form-input-container svg path{
  fill: #DADADA;
}
.nested-form-input-container .add-another-object div{
  color: #DADADA;
  margin-left: 10px;
}









