.regular-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 60px;
    border-radius: 9px;
}

.primary-button {
    color: white !important;
    background-color: var(--primary-color);
    border: none;
    transition: background-color ease 0.3s;
}
.primary-button:focus {
    outline: none;
}

.primary-button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}
.danger-button.primary-button {
    background-color: #F24C3D !important;
}

.danger-button.primary-button:hover {
    background-color: #d74639 !important;
}

.warning-button.primary-button {
    background-color: #F2BE22 !important;
}

.warning-button.primary-button:hover {
    background-color: #dcac1d !important;
}

.secondary-button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: background-color ease 0.3s;
    background-color: rgba(0, 0, 0, 0) !important;
}
.secondary-button:focus {
    outline: none;
}

.secondary-button:hover {
    background-color: var(--primary-color) !important;
    cursor: pointer;
    color: white !important;

    .secondary-button-icon path {
        fill: white;
    }
}

.secondary-button.danger-button {
    color: #F24C3D !important;
    border: 1px solid #F24C3D;
}
.secondary-button.danger-button:hover {
    background-color: #F24C3D !important;
    color: white !important;
}
.secondary-button.warning-button {
    color: #F2BE22 !important;
    border: 1px solid #F2BE22;
}

.secondary-button.warning-button:hover {
    background-color: #dcac1d !important;
    color: white !important;
}

.left-button-icon{
    margin-right: 10px;
}
.right-button-icon {
    margin-left: 10px;
}
.secondary-button-icon path {
    fill: var(--primary-color);
}
.primary-button-icon path{
    fill: white;
}


.animation-container{
    width: 100%;
    height: 60px;
    font-size: 16px;
    background-color: var(--hover-color);
    border: none;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    display: none;
}
.animation-container.danger-button{
    background-color: #d74639 !important;
}
.animation-container.warning-button{
    background-color: #dcac1d !important;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    margin-top: 50px;
    width: 80px;
    height: 80px;
    transform: scale(0.7);
}

.lds-ellipsis div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}