.search-container{
  display: none;
  font-size: 16px;
  background: white;
  width: 100%;
  border-radius: 0 0 14px 14px;
  border: none;
  box-shadow: 2px 30px 60px rgba(0, 0, 0, 0.1);
  position: absolute;
}

.search-container.search-container-scroll{
  max-height: 400px;
  overflow-y: auto;
}


.search-content{
  display: flex;
  flex-wrap: wrap;
  color: #777777 !important;
  justify-content: space-between;
  padding: 20px 20px;
  cursor: pointer;
  border-top: 1px solid #f7f7f7
}
.search-content:hover{
  background-color: rgba(0, 0, 0, 0.01);
}
.search-content div{
  display: flex;
}
.search-content div img{
  width: 12px;
}

.search-content div p{
  font-weight: 300;
  margin-bottom: 0;
  word-break: break-word;
}
.search-content div small {
  word-break: break-word;
}

.search-dropdown-active{
  box-shadow: none !important;
}

.search-element{
  margin-bottom: 0;
  max-width: 280px;
}

.searched-elements{
  margin-bottom: 0;
}

.search-inputs{
  position: relative;
}

.concepts-search-button{
  top: 15px !important;
  right: 10px !important;
}


.home-search-button{
  position: absolute;
  top: 38px;
  right: 12px;
}

.home-search-button svg{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.home-search-button svg path{
  fill: var(--primary-color);
}
.home-search-button.search-input-nav-icon{
  position: absolute;
  top: 4px;
  right: 6px;
  z-index: 99;
}
.home-search-button.search-input-nav-icon svg{
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.home-search-button.search-input-nav-icon svg path{
  fill: white;
}
.search-component-loader{
  padding-top: 4px;
  padding-right: 2px;
  color: var(--primary-color); 
}
.home-search-button.search-input-nav-icon .search-component-loader{
  margin-top: 0;
  padding-right: 0;
  color: white;
}
