.card_title {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 20px;

  span:nth-child(1){
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 1px;
  }
}
.Summary-page-card {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 20px 20px;
  margin-top: 20px;
}