.table-content{
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
}

.table-content thead th{
  background-color: hsl(0, 0%, 100%);
  border-bottom: 1px solid hsl(240, 4%, 85%);
  font-weight: 700;
  color: hsl(230, 13%, 9%);
}


.table-content td, .table-content th{
  padding: 12px 24px;
  vertical-align: top;
}


.table-content-stripped tbody tr:nth-child(odd) {
  background-color: #FAFAFA;
}

.table-content tbody th:first-child {
  color: #888888;
  font-weight: 400;
}


