<%@title = "About"%>

<div style="margin:2%;">
  <h1 class="aboutHeader">Use cases</h1>
  <p>Building...</p>

  <h1 class="aboutHeader">Partners</h1>
  <p>The National Center For Biomedical Ontology (NCBO), Institut de Recherche pour le Développement (IRD), Research Data Alliance (RDA),
    Bioversity International, Food & Agriculture Organization (FAO), Global Open Data for Agriculture & Nutrition (Godan Action), Institut National de la Recherche Agronomique (INRA)</p>

  <h1 class="aboutHeader">Funding</h1>
  <p>Agence Nationale de la Recherche (ANR), Numev, IBC, Marie Curie Action (European Commission)</p>

  <h1 class="aboutHeader">Team</h1>
  <ul>
    <li>Clément Jonquet</li>
    <li>Anne Toulet</li>
    <li>Vincent Emonet</li>
  </ul>
</div>