<%@title = "About"%>

<h1>Use cases</h1>
<p>Building...</p>

<h1>Partners</h1>
<p>Building...</p>

<h1>Funding</h1>
<p>Building...</p>

<h1>Team</h1>
<li>
  <ul>Clément Jonquet</ul>
  <ul>Anne Toulet</ul>
  <ul>Vincent Emonet</ul>
</li>