<%@title = "About"%>

<div>
  <h1 class="aboutHeader">Use cases</h1>
  <p>Building...</p>

  <h1 class="aboutHeader">Partners</h1>
  <p>Building...</p>

  <h1 class="aboutHeader">Funding</h1>
  <p>Building...</p>

  <h1 class="aboutHeader">Team</h1>
  <ul>
    <li>Clément Jonquet</li>
    <li>Anne Toulet</li>
    <li>Vincent Emonet</li>
  </ul>
</div>