.range-slider-container{'data-controller': 'range-slider'}
    - if @label
        .text-input-label
            = @label

    .selection{'data-range-slider-target': 'selection'}
        50
    .range-slider
        %input{type: "range", min: @min, max: @max, step: @step, value: @value, 'data-action': 'input->range-slider#handleInput', 'data-range-slider-target': 'input', name: @name}
        .selector{'data-range-slider-target': 'selector'}
            .select-button
        .select-range{'data-range-slider-target': 'range'}