a{
    text-decoration: none !important;
}
.account-page-center{
    display: flex;
    justify-content: center;
    margin: 30px 0;

}
.account-page-title{
    font-size: 18px;
    font-weight: 700;
}

.account-page-sub-container{
    display: flex;
}
.account-page-first-row{
    width: 566px;
    margin-right: 20px;
}

.account-page-second-row{
    width: 584px;
}

#account-page-title-line{
    width: 93px;
    margin-top: 3px;
    border: 0.5px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 0px !important ;
}
.account-page-card{
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 20px;
}
.account-page-card-title{
    font-size: 16px;
    font-weight: 600;
}
.account-page-personal-informations-title-bar{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.account-page-rounded-button{
    display: flex;
    justify-content: center;
    border: 0.5px solid var(--primary-color);
    padding: 10px;
    border-radius: 50px;
    width: 40px;
}
.account-page-info-column{
    display: flex;
}
.account-page-info-column .title{
    margin-right: 9px;
    font-size: 15px;
    color: #666666;
}

.account-page-info-column .info{
    font-size: 15px;
    font-weight: 600;
}
.account-page-card-desc{
    font-size: 13px;
    color: #666666;
    margin: 8px 0;
}
.apikey{
    font-size: 17px;
    font-weight: 600;
}
.account-page-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account-page-no-ontology{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 37px;
}
.account-page-no-ontology p{
    color: #bbbbbb;
    font-size: 16px;
    margin: 26px 0;
}
.account-page-upload-ontology-button{
    width: 220px;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
    background-color: white;
    padding: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    text-align: center;
}
.account-page-select-ontology-set-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    border: 1px solid var(--primary-color);
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
}
.account-page-select-ontology-set-button p{
    margin-bottom: 0 !important;
}
.account-page-api-documentation-link{
    display: flex;
    margin-top: 10px;
}
.account-page-api-documentation-link a{
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}
.account-page-api-documentation-link a svg{
    margin-left: 10px;
    margin-bottom: 5px;
}
svg path{
    fill: var(--primary-color);
}

.account-page-subscribe-button{
    border: 1px solid var(--primary-color);
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 500;
}

.account-page-subscription{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.account-page-subscription a{
    font-size: 15px;
    font-weight: 400;
    color: var(--primary-color);
}
.account-page-subscription div{
    display: flex;
}
.account-page-subscription div .notes{
    margin-right: 23px;
    color: #666666 !important;
    font-weight: 400;
}
.account-page-subscription div .unsubscribe{
    color: #EB4335 !important;
    font-weight: 400;
}
.account-page-submitted-ontology{
    margin-top: 10px;

}
.account-page-submitted-ontology a{
    color: #666666;
    font-weight: 400;
    font-size: 15px;
}
.no-margin{
    margin: 0 !important;
}
.change-password{
    margin-top: 14px;
    display: flex;
    justify-content: center;
}