.memcached_utilities td {
    padding: .5em;
}
#adminOntologies {
    clear: both;
}
table.dataTable tbody tr.selected {
    background-color: #D7E3EA;
}
.ontologies_list_container {
    width: 90%;
    padding: 1em;
}
/* Datatables */
.ontologies_list_container {
    clear: both;
}
.ontologies_list_container .dataTables_length {
    float: left;
    padding: 1em 0;
}
.ontologies_list_container .dataTables_filter {
    float: right;
    padding-top: 10px;
}
.ontologies_list_container .dataTables_filter input {
    width: 200px;
}
.ontologies_list_container .dataTables_info {
    text-align: center;
    padding: .5em;
}
.ontologies_list_container .dataTables_paginate {
    text-align: center;
}
.ontologies_list_container .dataTables_paginate .paginate_button {
    text-decoration: underline;
    cursor: pointer;
    padding: 0 .5em;
}
.ontologies_list_container .dataTables_paginate .paginate_button:hover {
    text-decoration: none;
}
.ontologies_list_container .first, .ontologies_list_container .previous, .ontologies_list_container .next, .ontologies_list_container .last {
    padding: 0 .5em;
}
.ontology_nav {
    float: left;
    padding: 0 0 1em 0;
}
.success_message {
    margin: 0 0 10px !important;
}
#success_message,
#error_message,
#progress_message {
    display: none;
}
#progress_message {
    background: image-url("spinners/spinner_000000_16px.gif") no-repeat scroll 0 center transparent;
    padding-left: 30px;
    margin-top: 5px;
}
/* to fix facebox default sizing in chrome */
#facebox .body {
    width: 375px !important;
}