div#semanticTypes_chzn.chzn-container input.default {
  font-style: oblique !important;
}

div#semanticTypes_chzn.chzn-container-active input.default {
  font-style: normal !important;
}

div#annotations_filter, div#annotations_info {
  display: none;
}

.result_count {
  font-weight: bold;
}

