$obtained_color : rgba(102, 187, 106, 1);
$not_obtained_color : rgba(251, 192, 45, 1);
$non_applicable_color :  rgba(176, 190, 197, 1);

.bg-obtained_color{
  background-color: $obtained_color !important;
}
.bg-not-obtained_color{
  background-color: $not_obtained_color !important;
}
.bg-non-applicable_color{
  background-color: $non_applicable_color !important;
}
