footer, .footer {
  background-color: #EFFFEF !important;
  position: relative !important;
}

footer img {
  height: 32px;
}

footer a.logo.connect img {
  margin-right: 10px;
}

.legal-text {
	font-size: 0.9rem;
}