#social_networking {
  position: absolute; 
  right: 7px; 
  padding-top: 4px;

  div {
    float: right;
  }
}

#release_info {
	position: absolute; 
  right: 7px; 
  margin-top: 38px; 
  font-size: 1.3em;
}