// Place all the styles related to the landscape controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 300%;
  margin-bottom: 40px
}

hr {
  width: 50%;
  margin: 40px 0px
}