.lost-password-form{
    margin-top: 30px;
    padding: 37px 41px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 50px;
    border-radius: 14px;
}
.lost-password-arrowback{
    all: none;
}
.lost-password-title{
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}
#lost-password-title-line{
    width: 128px ;
    margin: auto !important ;
    margin-bottom: 14px !important ;
    margin-top: 3px !important ;
    border: 1px solid var(--primary-color) !important ;
    border-radius: 5px ;
}
.lost-password-description{
    color: #666666;
    font-size: 12.5px;
    margin-bottom: 14px;
    width: 357px;
}
.lost-password-input{
    box-sizing: border-box;
    outline: none;
    padding: 21px;
    font-size: 16px;
    border: 1px solid #BDBDBD;
    border-radius: 9px;
    width: 357px;
    
}
.lost-password-input:focus{
    border: 1px solid var(--primary-color);
}
.lost-password-input::placeholder{
    font-weight: 300;
    color: #C1C1C1;
}

.lost-password-input-title{
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #666666;
}
.lost-password-button{
    margin-top: 20px;
   width: 357px;
   font-size: 16px;
   color: white;
   padding: 21px;
   background-color: var(--primary-color);
   border: none;
   border-radius: 9px;
   margin-bottom: 20px;
   display: block;
}
.lost-password-button:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

