/* Create New Mapping dialog */

div#map_from_picker_container, div#map_to_picker_container {
  margin-bottom: 7px;
}

div#map_from_picker_chosen, div#map_to_picker_chosen {
  width: 100% !important;
}

div#map_from_concept_details_table, div#map_to_concept_details_table {
  border: thin solid lightgray;
  height: 200px;
  overflow: auto; 
}

#map_to_picker, .select2-container {
  width: 100% !important;
}

#create_mapping_error {
  color: red;
}

#create_mapping_spinner {
  display: none;
}

/* Concept mappings table */

#concept_mappings_table {
  width: 100%;
}

