#search_metadata_chosen .chosen-container .chosen-container-multi {
    width: 432px;
}

.horiz{
    display: inline-block; 
}

.metadataTable {
    padding: 25px;
    border-collapse: separate!important;
}

.editTable{
    width: 100%;
}

.jrab{
    display: flex;
    overflow-x: auto;
}
.editBtn {
    top : 110px;
    left: 1100px;
    position: absolute;
}

.ro {
    display: flex; /* equal height of the children */
}
  
.metasel {
    margin-left: 10px;
    top : -5px;
    position: relative;
}
 
.metabtn{
    margin-left: 10px;
    position: relative;
    top: 20px;
    left: 50px;
}

.table-container {
    overflow-x: auto;
}


