#search_metadata_chosen .chosen-container .chosen-container-multi {
    width: 432px;
}

.horiz{
    display: inline-block; 
}

.metadataTable {
    padding: 25px;
    border-collapse: separate!important;
}

.editBtn {
    bottom: 50%;
    left:10%;
    position: absolute;
}
