.nav-container{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}
.top-nav{
    display: flex !important;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
    height: 62px;
    padding: 8px 50px;
    width: 1280px;
}
.nav-responsiveness-container{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo p{
    margin-left: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 85%;
}
.nav-items > ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

.nav-items > ul > li {
    margin-left: 20px;
}

.nav-items > ul > li > a {
    color: white !important;
    font-size: 15px;
    opacity: 60%;
    font-weight: 300;
    transition: opacity 0.2s ease-in-out;
}
.nav-items > ul > li > a:hover{
    opacity: 100%;
}
.nav-items > ul > li > a.active{
    opacity: 100%;
    font-weight: 500;
}
.nav-search-container > input {
    height: 33px;
    width: 228px;
    outline: none;
    opacity: 60%;
    border: 1px solid white;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 10px;
}
.nav-search-container > input:focus{
    opacity: 100%;
    border-radius: 5px 5px 0 0;
}
.nav-search-container > input::placeholder{
    color: white;
    opacity: 60%;
}
.nav-search-container > input::-ms-input-placeholder{
    color: white;
    opacity: 60%;
}
.nav-language{
    background-color: transparent;
    width: 47px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;

}
.nav-language option{
    background-color: white;
    color: black;
}
.nav-items > a{
    padding: 3px 34px;
    border: 1px solid white;
    border-radius: 5px;
    color: white !important;
    transition: background-color 0.2s ease-in-out;
}
.nav-items > a:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.top-nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
.top-nav input[type="checkbox"]{
    display: none;
}

.top-nav-nav-link{
    color: white !important;
    padding: 0 !important;
}

.nav-search-drop-down{
    position: absolute;
    z-index: 9999;
    font-size: 12px !important;
    width: 228px !important;
}

@media (max-width: 1200px){
    .top-nav .menu-btn i{
        display: block;
    }
    #nav-menu:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    .nav-items{
        display: none;
    }
    .menu-btn{
        position: absolute;
        right: 40px;
    }

}
.top-nav.show-responsive {
    display: block !important;
    background-color: var(--primary-color);
    height: unset;
}

.top-nav-ul.show-responsive {
    display: block;
}

.nav-items.show-responsive {
    flex-direction: column;
    width: unset;
    display: flex;
    align-items: flex-start;
}

.show-responsive {
    margin: 15px 0 !important;
}

.supportMenuDropdownLink.show-responsive {
    margin-bottom: 15px;
}
