/* message boxes */
.message-box {
  color: #555;
  border-radius: 3px;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size: 11px;
  padding: 10px;
  margin: 10px 0 0 0;
}

.message-box span {
  font-weight: bold;
  text-transform: uppercase;
}

.error-msg {
  //background-color: #eee;
  border: 1px solid #f5aca6;
}

.success-msg {
  //background-color: #eee;
  border: 1px solid #a6ca8a;
}

input.req,
textarea.req {
  border-color: darksalmon !important;
}
