.ontologies-tabs-container {
  & > .tabs-container {
    justify-content: center;
  }

  & > .tabs-container > div {
    width: 100%;
    max-width: 1248px;
    padding: 0 50px;
  }

  & > .tab-content {
    display: flex;
    justify-content: center;

    & > .tab-pane {
      width: 100%;
      max-width: 1248px;
      padding: 0 50px;
    }
  }

  @media (max-width: 767.98px) {
    & > .tabs-container > div,
    & > .tab-content > .tab-pane {
      padding: 0 16px;
    }
  }
}
