
.ontologies-tabs-container {
  & > .tabs-container {
    justify-content: center;
  }

  & > .tabs-container > div {
    //width: 1248px;
    padding: 0 10px;
  }

  & > .tab-content {
    display: flex;
    justify-content: center;

    & > .tab-pane {
      //width: 1248px;
      padding: 0 10px;
      width: 100%;
    }
  }
}