$ont-metadata-bg-color: #e2ebf0;
$widget-table-border-color: #EFEFEF;
$ont-show-bg-color: #e9ecef;

.ontologies.show .gutter {
  background-color: rgba(0, 0, 0, 0.03);
  background-repeat: no-repeat;
  background-position: center;

  &.gutter-horizontal {
    cursor: col-resize;
    background-image: image-url('split/vertical.png');
  }
}

.ontologies.show {
  i.fas.fa-lg, i.far.fa-lg {
    margin-left: .5em;
  }

  #bd {
    background-color: $ont-show-bg-color;
  }
}

body.ontologies.show {
  background-color: $ont-show-bg-color;
}

/* Summary pane */

@media screen and (max-width: 992px) {
  .ont-metadata-card {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 992px) {
  .ont-metadata {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

.ont-metadata-card {
  header {
    background-color: $ont-metadata-bg-color;
    padding: 15px 36px;
  }

  dt {
    color: #737373;
  }

  dd {
    font-size: .9em;
    padding-left: 10px;
  }

  ul {
    margin-bottom: 0;
  }

  li {
    list-style: none;
  }

  thead tr th {
    border-top: none;
  }
}

.ont-details-card {
  grid-column: 1 / span 2;
}

.ont-metrics-card {
  grid-column: 3 / span 2;
}

.ont-subs-card {
  grid-column: 1 / span 4;
  grid-row: 2;
}

.ont-analytics-card {
  grid-column: 1 / span 4;
  grid-row: 4;
}

.ont-views-card {
  grid-column: 3 / span 2;
  grid-row: 3;
}

.ont-projects-card {
  grid-column: 1 / span 2;
  grid-row: 3;

  ul li {
    list-style-type: circle;
    list-style-position: inside;
  }
}

/* Classes pane */

#bd_content {
  display: flex;
  flex-direction: row;
}

#bd_content .sidebar {
  overflow-x: auto;
  white-space: nowrap;
}

#search_box:focus {
  border-color: #ced4da;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#bd .bd_content .cls-info-container .tabs {
  height: 24px;
  float: left;
}

#bd .bd_content .cls-info-container .tabs ul {
  margin: 0;
  float: left;
}

#bd .bd_content .cls-info-container .tabs li {
  margin: 0;
}

#bd .bd_content .cls-info-container .tabs li.first {
  padding-left: 0;
}

#bd .bd_content .cls-info-container .tabs a {
  padding: 0 15px 0 15px;
}

#bd .bd_content .cls-info-container #contents {
  float: left;
  width: 100%;
  overflow: auto;
}

#mappings_top.tab {
  border-right: 1px solid #bcc6d0;
}

/* Properties pane */

#propTree a {
  font-family: "Myriad Pro","Myriad Web Pro","Myriad Web","Myriad","Trebuchet MS","Tahoma","Helvetica","Arial",sans-serif;
  font: small/1.231 arial,helvetica,clean,sans-serif;
}

.ont-properties {
  display: flex;
  flex-direction: row;
}

#propTree {
  overflow-x: auto;
  white-space: nowrap;
}

/* Widgets pane */

#widget_table {
  td {
    border: 1px solid $widget-table-border-color;
    padding: 10px;
    vertical-align: top;
  }

  th {
    border: 1px solid $widget-table-border-color;
    font-size: 15px;
    font-weight: bold;
    background-color: #f5fafa;
    padding: 5px;
  }
}

#widgets_content .card {
  border: none;
}
