/* message boxes */
.message-box {
  color: #555;
  border-radius: 3px;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size: 11px;
  padding: 10px;
  margin: 10px 0 0 0;
}

.message-box span {
  font-weight: bold;
  text-transform: uppercase;
}

.error-msg {
  //background-color: #eee;
  border: 1px solid #f5aca6;
}

.success-msg {
  //background-color: #eee;
  border: 1px solid #a6ca8a;
}

input.req,
textarea.req {
  border-color: darksalmon !important;
}

div.editable {
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  padding: 5px;
}

strong {
  font-weight: bold;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}
