.popup-message-container{
    margin: 70px;
    display: flex;
    justify-content: center;
}
.popup-message-card{
    margin-top: 30px;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 41px;
    padding-right: 41px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 50px;
    border-radius: 14px;
}
.popup-message-icon{
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
}
.popup-message-text{
    text-align: center;
    width: 310px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 21px;
}
.popup-message-button{
    color: #76A7CC;
    padding: 16px;
    border: 1px solid #76A7CC;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}