.optionsBox {
  margin-top: 15px;
}

#inputTextHighlighted {
  display:none;
}

.generalError, .invalidMaxOntError, .invalidWeightsError, .notTextError, .sumWeightsError, .rangeWeightsError, .maxOntologiesError, .inputSizeError {
  display: none;
  color: red;
}

#resultsDisplay {
  background-color: white !important;
  margin-bottom: 35px;
}

