.register-form{
    margin-top: 30px;
    padding: 37px 41px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 50px;
    border-radius: 14px;
}
.register-arrowback{
    all: none;
}
.register-title{
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}
#register-title-line{
    width: 128px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 3px;
    border: 0.5px solid #76A7CC;
    border-radius: 5px;
}

.register-double-input{
    display: flex;
    margin-bottom: 14px;
}
.register-first-input{
    margin-right: 19px;
}

.register-input-title{
    font-size: 12px;
    color: #666666;
    margin-bottom: 5px;
    font-weight: 600;
}
.register-optional{
    font-weight: 300;
}
.register-input-long{
    width: 363px;
    outline: none;
    padding: 14px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #BDBDBD;
    border-radius: 9px;
    margin-bottom: 14px;
}
.register-input-long:focus{
    border: 1px solid #76A7CC;
}

.register-input-short{
    width: 172px;
    outline: none;
    padding: 14px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #BDBDBD;
    border-radius: 9px;
}
.register-input-short:focus{
    border: 1px solid #76A7CC;
}


.register-input-icon{
    position: absolute;
    padding: 18px;
    box-sizing: unset;
}
.register-input-with-icon{
    padding-left: 45px;
}
#register-check-text{
    margin-left: 10px;
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
}

.register-button{
    margin-top: 20px;
   width: 363px;
   font-size: 16px;
   color: white;
   padding: 17px;
   background-color: #76A7CC;
   border: none;
   border-radius: 9px;

}

.register-button:hover{
    background-color: #6B96B7;
    cursor: pointer;
}
