#resource_index_classes_chzn ul.chzn-results li.searching:after {
  background: image-url('spinners/spinner_000000_16px.gif') no-repeat scroll 5px -1.5px transparent;
  color: #F4F4F4;
  content: "spacer";
}

ul.chzn-results {
  max-height: 450px !important;
}
#results {
  max-width: 1200px;
}
#resource_links {
  /*float: left;*/
  /*height: 100%;*/
  margin: 20px 0;
}
.resource_image {
  float: right;
  margin: 0 0 10px 10px;
  width: 200px;
}
#result_counts_container {
  padding-left: 1em;
  margin-top: 7px;
  font-size: 9pt;
}
.resource_details {
  margin: 15px 10px;
}
#resource_title {
  font-size: 16pt;
}
.h2_link {
  font-size: 9pt;
}
.clearing {
  clear: both;
}

/* BEGIN AnnotationType */
/*
// Annotation types change for the new API, as follows:
// mgrepContext => direct
// mappingContext => mapping
// isaContext => hierarchy
//
.mgrepContext,
.mgrepContext .mappingContext,
.mappingContext .mgrepContext,
.mgrepContext .isaContext,
.isaContext .mgrepContext {
  background-color: #B0C4DE !important;
}
.mappingContext {
  background-color: #7ABA7A;
}
.isaContext {
  background-color: #F2BFC5;
}
*/
.direct,
.direct .mapping,
.mapping .direct,
.direct .hierarchy,
.hierarchy .direct {
    background-color: #B0C4DE !important;
}
.mapping {
    background-color: #7ABA7A;
}
.hierarchy {
    background-color: #F2BFC5;
}
/* END AnnotationType */


.element_result, .element_result a {
  font-size: 110%;
  margin-bottom: 15px;
}
.element_info {
  padding-left: 3px;
}
.element_info a {
  font-size: 90%;
}
.element_results {
  padding: 0 10px;
  margin-bottom: 2em;
}
.element_results .pagination {
  font-size: 115%;
  font-weight: bold;
}
.element_text {
  padding: 7px 3px 0;
}
.element_text h2, h3, h4 {
  font-size: 110%;
  font-weight: bold;
}
div#resource_results div.element_results h4 {
  font-weight: bold;
}
div#resource_results div.resource_results h2 {
  font-size: 180%;
}
.highlighting {
  font-style: oblique;
}
#resource_index_search_button {
  float: right;
  margin-left: 445px;
  position: absolute;
}
.ri_legend {
  border: 1px solid #ccc;
  padding: 5px 5px 5px 25px;
  margin: 10px 0;
  width: 440px;
  height: 17px;
}
.ri_legend div {
  float: left;
}
.highlight_box {
  float: left;
  margin-left: 5px;
  margin-right: 15px;
  border: 1px solid #000;
  width: 15px;
  height: 15px;
}
#resource_table .dataTables_info {
  display: none;
}
#resource_table {
  width: 600px;
  margin-top: 1em;
}
#resource_index_content {
  padding: .5em 1.4em 2em;
}
.resource_site {
  padding-left: 15px;
  font-size: 9pt;
}
