div#contacts  div.contact.col-sm-10.offset-sm-2 {
	margin-top: 5px;
}

#contacts .contact label {
	margin-bottom: 0;
}

#submissionLocation small.form-text {
  margin-bottom: 0.5em;
}
.tab-content{
	position: relative;
}