.upload-ontology-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    .show {
        display: block;
    }
}

.upload-ontology-card {
    width: 589px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 50px;
    padding: 20px 40px;

}

.upload-ontology-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.upload-ontology-progress {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}


.upload-ontology-chips-container{
    display: flex;
    flex-wrap: wrap;
}


.hide {
    display: none;
}



.upload-ontology-desc {
    font-size: 12px;
    color: #777777;
    margin-bottom: 23px;
}

.upload-ontology-desc a {
    text-decoration: none;
    color: var(--primary-color);
}
.upload-ontology-desc a svg{
    transform: scale(1.2);
}


.upload-ontology-contact .add-another-contact div {
    font-size: 11px;
    color: #DADADA;
    margin-left: 10px;

}

.upload-ontology-field-container .location-choice{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.upload-ontology-field-container .location-choice .title{
    font-size: 13px;
    color: black;
    margin-left: 13px;
    margin-bottom: 0;
    cursor: pointer;
}

.upload-ontology-field-container > div{
    font-size: 12px;
    color: #666666;
}


.upload-ontology-input-field-container{
    margin-bottom: 10px;
}

.upload-ontology-input-field-container .switch-filter p{
    font-size: 12px !important;
}
