%span{@controller_params}
  %a.subscribe_to_notes.btn.btn-primary{href:'javascript:void(0);'}
    #{@sub_text} to notes emails
  %span{style:"display: none;", 'data-subscribe-notes-target': 'loader'}
    = image_tag("spinners/spinner_000000_16px.gif", style: "vertical-align: text-bottom; background: transparent")
  %span.notes_sub_error{style:'color: red; display: none', 'data-subscribe-notes-target': 'error'}