%div{data: {controller: "nested-form"}}
  %template{'data-nested-form-target':"template"}
    %div.d-flex.align-items-center.nested-form-wrapper{'data-new-record': 'true'}
      %div{style: 'width: 90%'}
        = template
      %div.d-flex.justify-content-end{style: 'width: 10%'}
        %button.btn.btn-danger{data: {action:"nested-form#remove"}}
          %i.fas.fa-minus.fa-lg
  - rows.each_with_index  do |row , index|
    %div.d-flex.align-items-center.nested-form-wrapper{'data-new-record': 'true'}
      %div{style: 'width: 90%'}
        = row
      %div.d-flex.justify-content-end{style: 'width: 10%'}
        - unless index == 0
          %button.btn.btn-danger{data: {action:"nested-form#remove"}}
            %i.fas.fa-minus.fa-lg

  %div{'data-nested-form-target': "target"}
  %div.float-right
    %button.btn.btn-success{data: {action:"nested-form#add"}}
      %i.fas.fa-plus.fa-lg