-# TODO: Refactor our layouts so that we don't open HTML tags in one file and
-# close them in another. This is confusing / difficult to read.
</div>
</div>

%footer.footer.footer-appliance
  %div.container
    %div.row
      %div.col
        %ul.list-inline
          %li.list-inline-item #{$RELEASE_VERSION}
          %li.list-inline-item
            %i.fas.fa-ellipsis-v{"aria-hidden": "true"}
          %li.list-inline-item
            = link_to("Powered by NCBO BioPortal", "https://bioportal.bioontology.org/", target: "_blank")
          %li.list-inline-item
            %i.fas.fa-ellipsis-v{"aria-hidden": "true"}
          %li.list-inline-item
            = link_to("Projects", projects_path())


