-# TODO: Refactor our layouts so that we don't open HTML tags in one file and
-# close them in another. This is confusing / difficult to read.
</div>
</div>

%footer{class: 'mt-auto py-3 bg-light'}
  %div.container
    %div.row
      %div.col
        %div.d-flex.justify-content-center
          %ul.list-inline.mb-0
            %li.list-inline-item #{$RELEASE_VERSION}
            %li.list-inline-item
              %i.fas.fa-ellipsis-v{"aria-hidden": "true"}
            %li.list-inline-item
              = link_to("Powered by BioPortal", "https://bioportal.bioontology.org/", target: "_blank")
            %li.list-inline-item
              %i.fas.fa-ellipsis-v{"aria-hidden": "true"}
            %li.list-inline-item
              = link_to("Projects", projects_path())


