-# Google tag
- tag_id = Rails.application.credentials.dig(:google_analytics, :tag_id)
- if tag_id.present?
  <script async src="https://www.googletagmanager.com/gtag/js?id=#{tag_id}"></script>
  %script
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '#{tag_id}');