-# Boostrap modal dialog for ontology change requests
  (must reside in a top-level position in the document to display properly)

%div{class: 'modal', id: 'changeRequestModal', tabindex: '-1', 'aria-labelledby': 'changeRequestModalLabel', 'aria-hidden': 'true'}
  %div{class: 'modal-dialog modal-dialog-centered modal-lg'}
    %div{class: 'modal-content'}
