-# Boostrap modal dialog for ontology change requests
  (must reside in a top-level position in the document to display properly)

%div{class: 'modal', id: 'changeRequestModal', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'changeRequestModalLabel', 'aria-hidden': 'true'}
