%h2.card_title
  %span.mr-2
    = @title
  - if @link
    %span
      = link_to(@link, target: "_blank", "aria-label": @link_title , title: @link_title) do
        %i.fas.fa-lg.fa-question-circle{style: "color: var(--primary-color)"}
%hr#section_focused_line_networkRelation/
%div{class: show_card? ? 'Summary-page-card'  : ''}
  = content