.nav-container
  %nav
    .nav-logo
      %img{:src => "logo-white.svg"}/
      %p AgroPortal
    %ul
      %li
        %a.active{:href => ""} Browse
      %li
        %a{:href => ""} Mappings
      %li
        %a{:href => ""} Recommender
      %li
        %a{:href => ""} Annotator
      %li
        %a{:href => ""} Landscape
    %input{:placeholder => "Search AgroPortal ...", :type => "text"}/
    .nav-language
    %a{:href => "#login"} Login
    .nav-support
