<html>
<head>
  <title>Component Preview</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag "application" %>
</head>
<body style="margin: 20px">

    <%= yield %> <!-- rendered preview will be injected here -->

</body>
</html>