
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%if @title.nil?%>NCBO BioPortal<%else%><%="NCBO BioPortal: #{@title}"%><%end%></title>
  <!-- Dependency source files --> 
  <%=stylesheet_link_tag 'layout/bioportal'%>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>

<script src="/javascripts/JqueryPlugins/jquery.blockUI.2.16.js" type="text/javascript" charset="utf-8"></script>

	
	<script src="/javascripts/jquery.thickbox.compressed.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="/stylesheets/layout/thickbox.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
	
  <%=javascript_include_tag "bioportal"%>  

</head>
<body>
	<%=render :partial =>'layouts/topnav'%>            			
		
	<div id="bd">
		<% message_name = "" %>
		<% $SITE_NOTICE.each_key { |k| message_name = k } %>
		<% unless $SITE_NOTICE.nil? || $SITE_NOTICE.empty? || cookies[message_name.to_sym].eql?("true") %>
			<script type="text/javascript">
				function close_message(){
					var exdate = new Date();
					exdate.setDate(exdate.getDate() + 365);
					document.cookie="<%=message_name%>=true; expires="+exdate.toGMTString();
					jQuery("#notice_message").hide();
				}
			</script>
			<p style="padding: 13px 10px 10px; margin: 10px; border:1px solid #EFEFEF; background-color: #F9F9F9;" id="notice_message">
				<%=$SITE_NOTICE[message_name.to_sym]%>&nbsp;&nbsp;<a href="#" onclick="close_message(); return false;" style="font-size: small; color: darkGray;">[close]</a>
			</p>
		<% end %>
	
		<%=yield%>	
	</div>


	<%=render :partial =>'layouts/footer'%>          
</body>
</html>