
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <!-- Dependency source files --> 
	<script type="text/javascript" src="/javascripts/jquery.js"></script>

  <%=stylesheet_link_tag 'bioportal','tabview','container'%>
   <script type="text/javascript" src="http://yui.yahooapis.com/2.4.1/build/utilities/utilities.js"></script> 
   	<script type="text/javascript" src="http://yui.yahooapis.com/2.4.1/build/container/container-min.js"></script> 
  <script type="text/javascript" src="http://yui.yahooapis.com/2.4.1/build/tabview/tabview-min.js"></script>
  <%=javascript_include_tag "bioportal",'prototype'%>


</head>
<body class=" yui-skin-sam">
		<!-- Maintence Area -->
		<div style="padding:5px;border:1px solid gray;font-size:14px; background-color:#ffffcc;float:right;width:600px;">
		<!--<strong>Scheduled Maintenance:</strong> The Bioportal Website and Restful services will be down on <strong>Nov 20th</strong> for updates. -->
		If you have mappings between terms in BioPortal ontologies that you created in another tool and would like to upload to BioPortal, please <a href="mailto:bioontology-support@mailman.stanford.edu">contact us</a>
			</div>

	<%=link_to image_tag('ncbo_logo_portal.gif'),"/"%>
	<div style="clear:both;"></div>
<br>
<div class="yui-navset">
	<%=render :partial =>'layouts/topnav'%>         
	<div class="yui-content-main" id = "content">
		<%=yield%>

	</div>
</div>




	<%=render :partial =>'layouts/footer'%>          
</body>
</html>