= render Input::InputFieldComponent.new(label: @label, name: @name, value: @value,  placeholder: @placeholder, error_message: @error_message, helper_text: @helper_text) do
  %textarea.input-field-component{name: @name, rows: @rows, placeholder: @placeholder, style: "#{error_style} #{resize}"}
    = @value